version: "3.7"

services:
  redis:
    image: redis
    volumes:
      - ./redis_data:/root/redis
    networks:
      - traefik_overlay
    environment:
      REDIS_DATABASES: 16
      REDIS_PORT: {{ REDIS_PORT | default('6379') }}
      REDIS_PASSWORD: {{ REDIS_PASSWORD }}
    deploy:
      update_config:
        order: start-first
      placement:
        constraints:
          - node.role == manager
      labels:
        - traefik.enable=true
        - traefik.tcp.services.redis.loadbalancer.server.port=6379
        - traefik.tcp.routers.redis.entrypoints=tcp
        - traefik.tcp.routers.redis.rule=HostSNI(`*`)
        - traefik.docker.network=traefik_overlay

networks:
  traefik_overlay:
    external: true
