import { factory } from "@sps/shared-frontend-server-api";
import {
  route,
  IModelExtended,
  host,
} from "<%= api_model_import_path %>";

export const api = factory<IModelExtended>({
  route,
  host,
});
