{% if SERVICE_URL != "" %}
NEXT_PUBLIC_HOST_URL=https://{{ SERVICE_URL }}
{% endif %}

{% if BACKEND_URL != "" %}
NEXT_PUBLIC_BACKEND_URL=https://{{ BACKEND_URL }}
{% endif %}

{% if DATABASE_HOST is defined %}
{% else %}
DATABASE_PORT=5432
DATABASE_HOST=postgres
DATABASE_NO_SSL=true
DATABASE_NAME={{ DATABASE_NAME }}
DATABASE_USERNAME={{ DATABASE_USERNAME }}
DATABASE_PASSWORD={{ DATABASE_PASSWORD }}
{% endif %}

RBAC_JWT_SECRET={{ RBAC_JWT_SECRET }}
RBAC_SECRET_KEY={{ RBAC_SECRET_KEY }}
RBAC_COOKIE_SESSION_SECRET={{ RBAC_COOKIE_SESSION_SECRET }}

{% if AWS_ACCESS_KEY_ID is defined %}
AWS_ACCESS_KEY_ID={{ AWS_ACCESS_KEY_ID }}
AWS_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
AWS_REGION={{ AWS_REGION }}
{% endif %}

{% if AWS_S3_BUCKET is defined %}
AWS_S3_BUCKET={{ AWS_S3_BUCKET }}
{% endif %}

{% if BLOB_READ_WRITE_TOKEN is defined %}
BLOB_READ_WRITE_TOKEN={{ BLOB_READ_WRITE_TOKEN }}
{% endif %}

{% if STRIPE_SECRET_KEY is defined %}
STRIPE_SECRET_KEY={{ STRIPE_SECRET_KEY }}
{% endif %}

{% if O_X_PROCESSING_SHOP_ID is defined %}
O_X_PROCESSING_SHOP_ID={{ O_X_PROCESSING_SHOP_ID }}
O_X_PROCESSING_WEBHOOK_PASSWORD={{ O_X_PROCESSING_WEBHOOK_PASSWORD }}
{% endif %}

{% if O_X_PROCESSING_TEST_PAYMENTS is defined %}
O_X_PROCESSING_TEST_PAYMENTS={{ O_X_PROCESSING_TEST_PAYMENTS }}
{% endif %}

{% if REDIS_PASSWORD is defined %}
KV_PROVIDER=redis
KV_PASSWORD={{ REDIS_PASSWORD }}
KV_HOST=redis
{% endif %}

{% if REDIS_PORT is defined %}
KV_PORT={{ REDIS_PORT }}
{% endif %}

{% if PAYSELECTION_SECRET_KEY is defined %}
PAYSELECTION_SECRET_KEY={{ PAYSELECTION_SECRET_KEY }}
NEXT_PUBLIC_PAYSELECTION_SITE_ID={{ PAYSELECTION_SITE_ID }}
NEXT_PUBLIC_PAYSELECTION_SITE_NAME={{ PAYSELECTION_SITE_NAME }}
NEXT_PUBLIC_PAYSELECTION_PUBLIC_KEY={{ PAYSELECTION_PUBLIC_KEY }}
PAYSELECTION_WEBHOOK_URL={{ PAYSELECTION_WEBHOOK_URL }}
{% endif %}