# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env*.local
.env*.testing

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
yarn.lock
package-lock.json

# tailwind theme
/tmp/
/test-results/
/playwright-report/
/playwright/.cache/
/tests/artifacts/

#icp
.dfx
*.key
*.pem
*.pem.base64
*-wallet.txt
.env.cloudflare

# Sentry Auth Token
.sentryclirc