import type { IRelation as IParentRelation } from "<%= root_contracts_import_path %>";
import {
  IRelation as IParentRelationExtended,
  populate as relationPopulate,
} from "<%= extended_contracts_import_path %>";

export interface IRelation extends IParentRelation {}
export interface IRelationExtended extends IParentRelationExtended {}

export const tag = "<%= relation_name %>";
export const route = "<%= relation_name_pluralized %>";
export const populate = relationPopulate;
