NODE_ENV=production

{% if HOST_URL != "" %}
NEXT_PUBLIC_HOST_URL=https://{{ HOST_URL }}
{% endif %}

{% if BACKEND_URL != "" %}
NEXT_PUBLIC_BACKEND_URL=https://{{ BACKEND_URL }}
{% endif %}

DATABASE_PORT=5432
DATABASE_HOST=postgres
DATABASE_NAME={{ DATABASE_NAME }}
DATABASE_USERNAME={{ DATABASE_USERNAME }}
DATABASE_PASSWORD={{ DATABASE_PASSWORD }}
DATABASE_NO_SSL=true