############################
# NX
############################

.nx
dist
tmp

############################
# Git
############################

.git
.github

############################
# Node
############################

node_modules
*.log

############################
# IDE
############################

.devcontainer
.vscode

############################
# Others
############################

.husky