############################
# NX
############################

.nx
dist
tmp

############################
# Git
############################

.git
.github


############################
# Node
############################

*.log

############################
# IDE
############################
.devcontainer
.vscode

############################
# Others
############################
.husky