############################
# NX
############################

.nx
dist
tmp

############################
# Git
############################

.git
.github


############################
# Node
############################

node_modules
package-lock.json
yarn.lock
*.log

############################
# IDE
############################
.devcontainer
.vscode

############################
# Others
############################
.husky