############################
# Node.js
############################

node_modules

############################
# NX
############################

.nx
dist
tmp

############################
# Backend
# Strapi
############################

.cache
build
dist
seeds
public/uploads/*