############################
# Node.js
############################

node_modules

############################
# NX
############################

.nx
dist
tmp

############################
# Db
# Postgres
############################
apps/db/db_data

############################
# Frontend
# Next.js
############################
apps/frontend/.next
apps/frontend/out
apps/frontend/build