############################
# Node.js
############################

node_modules

############################
# NX
############################

.nx
dist
tmp

############################
# Db
############################
apps/db/db_data

############################
# Redis
############################
apps/redis/db_data

############################
# host
# Next.js
############################
apps/host/.next
apps/host/out
apps/host/build