{
    "env": {
        "commonjs": true,
        "es2021": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "prettier"],
    "parserOptions": {
        "ecmaVersion": 12
    },
    "globals": {
        "afterAll": "readonly",
        "afterEach": "readonly",
        "beforeAll": "readonly",
        "beforeEach": "readonly",
        "strapi": "readonly",
        "describe": "readonly",
        "it": "readonly",
        "expect": "readonly",
        "jest": "readonly"
    },
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": "warn",
        "no-self-assign": "warn",
        "no-undef": "warn",
        "no-useless-escape": "warn",
        "no-dupe-keys": "warn"
    }
}
