package-lock.json
yarn.lock
yarn-error.log
.build
.cache
node_modules
.storybook
storybook-static
dist
.bit
tmp
src/server
next.config.js
.cache
build
.strapi-updater.json
.env
tests
seeded.txt
.env.local
.env.production