import { 
  Table,
  VariantEnumTable,
} from "<%= table_library_name %>";
import { Relations } from "<%= relations_library_name %>";
export {
  populate,
  transformData,
} from "<%= relations_library_name %>";

export const name = "<%= export_table_variable_name %>";
export const <%= export_table_variable_name %> = Table;
export const <%= export_variant_enum_table_variable_name %> = VariantEnumTable;
export const <%= export_relations_variable_name %> = Relations;
