export const variants = ["default"] as const;

export interface IModel {
  id: string;
  className?: string;
  variant: (typeof variants)[number];
  
  orderIndex: number;
  <%= left_model_name_property_cased %>Id: string;
<% if(right_model_is_external) { %>
<% } else { %>
  <%= right_model_name_property_cased %>Id: string;
<% } %>
}
