export const variants = ["default"] as const;

export interface IRelation {
  id: string;
  variant: (typeof variants)[number];
  <%= left_model_name_property_cased %>Id: string;
  <%= right_model_name_property_cased %>Id: string;
}
