html {
  -moz-osx-font-smoothing: grayscale !important; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased !important; /*(For Chrome and Safari)*/
}

img {
  image-rendering: -webkit-optimize-contrast;
}

input {
  -webkit-appearance: none;
}

@tailwind base;
@tailwind components;

.prose {
  max-width: 100%;
}

body {
  font-family: var(--font-default);
}

.font-primary {
  font-family: var(--font-primary);
}

.font-default {
  font-family: var(--font-default);
}

// for safari
.text-wrap {
  white-space: normal;
  word-break: break-word;
}

input,
button,
textarea {
  @apply focus:outline-none focus:ring-0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@tailwind utilities;

@layer components {
  .skeleton {
    @apply bg-input animate-pulse rounded-md;
  }

  .bg-dotted {
    // --muted
    background: hsl(210 40% 96.1%);
    // --muted-foreground
    background-image: radial-gradient(
      hsl(215.4 16.3% 46.9%) 1px,
      transparent 0
    );
    background-size: 4px 4px;
    background-position: 0px 0px;
  }

  .model-container {
    @apply relative gap-6 pt-8 rounded-lg border p-4 border-muted-foreground;
  }

  .model-header-block {
    @apply flex absolute top-0 inset-x-0 px-4 transform -translate-y-1/2 justify-between items-center;
  }

  .model-legend {
    @apply px-2 text-sm font-medium bg-muted-foreground text-muted rounded-sm;
  }

  .pill-button {
    @apply bg-foreground hover:bg-muted w-fit flex items-center px-2 w-fit border border-muted-foreground rounded-full transition duration-200 text-sm font-medium bg-white gap-2;
  }

  .entity-container {
    @apply grid gap-6 pt-5 relative rounded-lg border border-muted-foreground bg-white;
  }

  .entity-legend {
    @apply px-2 text-sm font-medium font-medium bg-muted-foreground text-muted rounded-sm max-w-40 overflow-hidden whitespace-nowrap overflow-ellipsis;
  }

  .entity-header-block {
    @apply flex items-center px-5 absolute transform -translate-y-1/2 inset-x-0 w-full justify-between;
  }

  .destructive-pill-button {
    @apply pill-button hover:text-destructive hover:border-destructive hover:bg-red-100 bg-white;
  }

  @import "../../../libs/shared/ui/adapter/src/index";
  @import "../../../libs/modules/sps-website-builder/frontend/root/src/index";
  @import "../../../libs/modules/sps-billing/frontend/root/src/index";
  @import "../../../libs/modules/sps-crm/frontend/root/src/index";
  @import "../../../libs/modules/sps-ecommerce/frontend/root/src/index";
  @import "../../../libs/modules/sps-file-storage/frontend/root/src/index";
  @import "../../../libs/modules/sps-rbac/frontend/root/src/index";
  @import "../../../libs/modules/sps-subscription/frontend/root/src/index";
  @import "../../../libs/modules/startup/frontend/root/src/index";
}
