import { db } from "@sps/sps-db-provider";
import { Table } from "<%= schema_module_lib_name %>";
import { eq } from "drizzle-orm";

export async function service(props: { id: string }) {
  const { id } = props;

  const [entity] = await db.delete(Table).where(eq(Table.id, id)).returning();

  return entity;
}
