& {
  &[data-variant="simple"] {
    @apply relative z-50;

    .backdrop {
      @apply fixed inset-0 bg-black/50;
    }

    .modal-container {
      @apply fixed inset-0 overflow-y-scroll px-4 pt-4 pb-20 flex h-screen;

      .dialog-panel {
        @apply m-auto max-h-[90vh] overflow-y-scroll relative rounded-md bg-popover;

        .button-close {
          @apply absolute z-30 right-2 top-2;

          svg {
            @apply w-6 text-primary;
          }
        }
      }
    }
  }
}
