import { db } from "@sps/sps-db-provider";
import {
  Table,
  config,
  insertSchema,
} from "<%= schema_module_lib_name %>";

export async function service(props: { data: any }) {
  const { data } = props;

  const plainData = insertSchema.parse(data);

  const [entity] = await db.insert(Table).values(plainData).returning();

  return entity;
}
