import { db } from "<%= module_db_import_path %>";
import {
  insertSchema,
  Table,
} from "<%= schema_module_import_path %>";

export async function service(props: { data: any }) {
  const { data } = props;

  const plainData = insertSchema.parse(data);

  const [entity] = await db.insert(Table).values(plainData).returning();

  return entity;
}
