import { models } from "@sps/<%= module_name_kebab_case %>-backend-models";

export class Dumper {
  models: typeof models;
  name = "<%= module_name_property_cased %>";

  constructor() {
    this.models = models;
  }

  async dumpModels() {
    for (const [modelName, model] of Object.entries(this.models)) {
      if ("type" in model) {
        if ("dump" in model.services) {
          await model.services.dump();
        }
      }
    }
  }
}
