import { schema as plainSchema } from "<%= plain_library_name %>";
import { schema as extendedSchema } from "<%= extended_library_name %>";

export const schema = {
  plain: plainSchema,
  extended: extendedSchema
}
