############################
# Node.js
############################

lib-cov
lcov.info
pids
logs
results
node_modules
.DS_Store
.node_history
package-lock.json
db_data
out
static
.env

**/.terraform*
**/terraform.tfstate*
