HOST=0.0.0.0
PORT=1337
NODE_ENV=production

JWT_SECRET={{ JWT_SECRET }}
ADMIN_JWT_SECRET={{ ADMIN_JWT_SECRET }}
APP_KEYS={{ APP_KEYS }}
API_TOKEN_SALT={{ API_TOKEN_SALT }}

DATABASE_CLIENT=postgres
DATABASE_PORT=5432
DATABASE_HOST=postgres
DATABASE_NAME={{ DATABASE_NAME }}
DATABASE_USERNAME={{ DATABASE_USERNAME }}
DATABASE_PASSWORD={{ DATABASE_PASSWORD }}

SET_PERMISSIONS=true

{% if SEED_ENTITES != "" %}
SEED_ENTITES={{ SEED_ENTITES }}
{% endif %}

{% if AWS_ACCESS_KEY %}
EMAIL_PROVIDER=amazon-ses
AWS_SES_ACCESS_KEY={{ AWS_ACCESS_KEY }}
AWS_SES_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
AWS_SES_URL=https://email.eu-central-1.amazonaws.com
AWS_SES_DEFAULT_FROM=no-reply-{{ PROJECT_NAME }}@mail.singlepagestartup.com
AWS_SES_DEFAULT_REPLY_TO=contact@{{ DOMAIN }}
{% endif %}

{% if UPLOAD_PROVIDER == "s3" %}
AWS_S3_ACCESS_KEY={{ AWS_ACCESS_KEY }}
AWS_S3_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
AWS_S3_BUCKET={{ AWS_S3_BUCKET }}
AWS_S3_REGION={{ AWS_S3_REGION }}
{% endif %}

{% if SENTRY_DSN %}
SENTRY_DSN={{ SENTRY_DSN }}
{% endif %}

{% if AVOID_DATABASE_SEEDING != "" %}
SEED_ENTITES=true
{% endif %}

{% if SERVICE_URL != "" %}
BACKEND_URL=https://{{ SERVICE_URL }}
{% endif %}

{% if TELEGRAM_BOT_TOKEN != "" %}
TELEGRAM_BOT_TOKEN={{ TELEGRAM_BOT_TOKEN }}
{% endif %}

{% if OPENAI_API_KEY != "" %}
OPENAI_API_KEY={{ OPENAI_API_KEY }}
{% endif %}

{% if RUN_TELEGRAM_BOT != "" %}
RUN_TELEGRAM_BOT={{ RUN_TELEGRAM_BOT }}
{% endif %}

{% if STRIPE_API_KEY != "" %}
STRIPE_API_KEY={{ STRIPE_API_KEY }}
{% endif %}

{% if FRONTEND_URL != "" %}
FRONTEND_URL=https://{{ FRONTEND_URL }}
{% endif %}

{% if ZERO_X_PROCESSING_TEST_PAYMENTS != "" %}
ZERO_X_PROCESSING_TEST_PAYMENTS={{ ZERO_X_PROCESSING_TEST_PAYMENTS }}
{% endif %}

{% if ZERO_X_PROCESSING_SHOP_ID != "" %}
ZERO_X_PROCESSING_SHOP_ID={{ ZERO_X_PROCESSING_SHOP_ID }}
{% endif %}

{% if ZERO_X_PROCESSING_WEBHOOK_PASSWORD != "" %}
ZERO_X_PROCESSING_WEBHOOK_PASSWORD={{ ZERO_X_PROCESSING_WEBHOOK_PASSWORD }}
{% endif %}