import type { IModel as IParentModel } from "<%= root_contracts_import_path %>";
import {
  IModel as IParentModelExtended,
  populate as modelPopulate,
} from "<%= extended_contracts_import_path %>";

export interface IModel extends IParentModel {}
export interface IModelExtended extends IParentModelExtended {}

export const tag = "<%= model_name %>";
export const route = "<%= model_name_pluralized %>";
export const populate = modelPopulate;
