export { 
  modelName,
  Table,
  VariantEnumTable,
  insertSchema,
  selectSchema,
} from "<%= table_library_name %>";
export {
  Relations,
  populate,
  config,
} from "<%= relations_library_name %>";