html {
  -moz-osx-font-smoothing: grayscale !important; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased !important; /*(For Chrome and Safari)*/
}

img {
  image-rendering: -webkit-optimize-contrast;
}

input {
  -webkit-appearance: none;
}

@tailwind base;
@tailwind components;

.prose {
  max-width: 100%;
}

body {
  font-family: var(--font-default);
}

.font-primary {
  font-family: var(--font-primary);
}

input:focus,
button:focus {
  @apply outline-none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@tailwind utilities;

@layer components {
  .skeleton {
    @apply bg-slate-100 animate-pulse rounded-md;
  }

  [data-component="elements.buttons-array"] {
    &[data-variant="column-with-title"] {
      .buttons-array-column-with-title {
        @apply flex flex-col gap-2 relative;

        .buttons-array-title {
          @apply relative inline-flex text-sm w-full leading-relaxed opacity-50 uppercase;

          .icon-container {
            img {
              @apply object-contain object-center;
            }
          }
        }

        .buttons-array-buttons-container {
          @apply w-full items-start flex flex-col gap-2;
        }
      }
    }

    &[data-variant="row"] {
      .buttons-array-row {
        @apply flex flex-row gap-2 relative;

        .buttons-array-buttons-container {
          @apply flex gap-4 relative;
        }
      }
    }
  }

  [data-component="elements.button"] {
    .icon-container {
      @apply w-10 h-10;

      img {
        @apply object-contain object-center;
      }
    }

    &[data-variant="text"] {
      /**
      * Using just "a, button { ... }"
      * will not work because of specificity CSS rules
      * lower code overrides the upper one
      */
      .button-text {
        @apply relative inline-flex w-full font-medium leading-relaxed justify-center items-center rounded-md transition duration-150 ease-in-out hover:text-primary-600;
      }
    }

    &[data-variant="locale"] {
      .button-locale {
        @apply relative inline-flex w-full font-medium leading-relaxed justify-center items-center border border-black rounded-md px-8 py-3 transition duration-150 ease-in-out hover:bg-black hover:text-white uppercase;
      }
    }

    &[data-variant="secondary"] {
      .button-secondary {
        @apply relative inline-flex w-full font-medium leading-relaxed justify-center items-center border border-black rounded-md px-8 py-3 transition duration-150 ease-in-out hover:bg-black hover:text-white;
      }
    }

    &[data-variant="primary"] {
      .button-primary {
        @apply relative inline-flex w-full justify-center items-center rounded-md border border-primary-600 bg-primary-600 px-8 py-3 font-medium text-white hover:bg-black hover:border-black transition duration-150 ease-in-out;
      }
    }
  }

  [data-collection-type="flyout"] {
    &[data-variant="simple"] {
      @apply absolute left-1/2 z-10 mt-2 w-screen max-w-xs -translate-x-1/2 transform;

      .flyout-container {
        @apply overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 p-2 bg-white;
      }
    }
  }

  [data-collection-type="footer"] {
    &[data-variant="boxed"] {
      .footer-container {
        @apply w-full mx-auto max-w-7xl;
      }
    }
  }

  [data-collection-type="form"] {
    &[data-variant="simple"] {
      .form-container {
        @apply grid grid-cols-4 gap-3;

        .submit-button-container {
          @apply col-span-4;
        }
      }
    }
  }

  [data-component="elements.input"] {
    .input-label {
      @apply block mb-1;
    }

    .input-error {
      p {
        @apply text-red-500 text-xs pt-1;
      }
    }

    &[data-variant="text"] {
      &.input-text {
        .input-container {
          input,
          textarea {
            @apply w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm;
          }
        }
      }
    }

    &[data-variant="listbox"] {
      &.input-listbox {
        .input-container {
          .listbox {
            @apply relative mt-1;

            .button {
              @apply relative border border-gray-300 shadow-sm w-full cursor-pointer rounded-lg bg-white py-2 pl-3 pr-10 text-left focus:outline-none focus-visible:border-primary-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-primary-300 sm:text-sm;

              .title {
                @apply block truncate;
              }

              .icon-container {
                @apply pointer-events-none absolute inset-y-0 right-0 flex items-center pr-2;

                svg {
                  @apply h-5 w-5 text-gray-400;
                }
              }
            }

            .options {
              @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm z-10;

              .option {
                @apply hover:bg-primary-50 relative cursor-pointer select-none py-2 pl-10 pr-4 text-gray-900;

                .title {
                  @apply block truncate font-normal;
                }

                .icon-container {
                  @apply absolute inset-y-0 left-0 flex items-center pl-3 text-primary-600;

                  svg {
                    @apply h-5 w-5;
                  }
                }

                &[aria-selected="true"] {
                  @apply bg-primary-50 text-primary-900;

                  .title {
                    @apply block truncate font-medium;
                  }
                }
              }
            }
          }
        }
      }
    }

    &[data-variant="radio-group"] {
      &.input-radio-group {
        .input-container {
          .radio-group {
            @apply flex flex-col gap-3 mt-2;

            .option {
              @apply gap-3 items-center relative flex cursor-pointer;

              .check {
                @apply w-4 h-4 flex shrink-0 rounded-full border items-center justify-center border-gray-300;
              }

              &[aria-selected="true"] {
                .check {
                  .checked {
                    @apply w-2.5 h-2.5 flex shrink-0 bg-primary-600 rounded-full;
                  }
                }
              }

              .label {
                @apply flex flex-1 text-sm font-medium text-gray-900;
              }
            }
          }
        }
      }
    }

    &[data-variant="switch"] {
      &.input-switch {
        .input-container {
          @apply relative flex gap-2 items-start;

          .label {
            @apply text-left relative;
          }

          .check {
            @apply w-5 h-5 flex shrink-0 rounded-md border items-center justify-center border-gray-300  mt-[2px] text-white cursor-pointer;

            &[aria-selected="true"] {
              @apply bg-primary-600;

              svg {
                @apply w-4;
              }
            }
          }
        }
      }
    }

    &[data-variant="file"] {
      &.input-file {
        .input-container {
          .input {
            .button {
              @apply w-full aspect-w-4 aspect-h-4;

              .button-container {
                @apply flex flex-col items-center justify-center border w-full rounded-md border-gray-300 border-dashed cursor-pointer text-gray-400;

                svg {
                  @apply flex-shrink-0 w-5 mb-1;
                }

                p {
                  @apply text-center text-xs px-2;
                }
              }
            }

            &[data-multiple="false"][data-filled="true"] {
              .button {
                @apply hidden;
              }
            }
          }

          .files-array {
            &[data-multiple="true"] {
              @apply w-full grid grid-cols-4 gap-4 mt-4;
            }

            &[data-multiple="false"] {
              @apply w-full mt-4;
            }

            .file {
              @apply relative w-full aspect-w-4 aspect-h-4 border border-gray-300 rounded-md overflow-hidden;

              img {
                @apply object-cover object-center;
              }

              .delete {
                @apply absolute top-[50%] bottom-[50%] left-[50%] right-[50%] flex w-8 h-8 items-center justify-center bg-black rounded-full text-white cursor-pointer -translate-x-2/4 -translate-y-2/4 opacity-0 transition duration-200;

                .icon {
                  @apply w-4;
                }
              }

              &:hover {
                .delete {
                  @apply opacity-100;
                }
              }
            }
          }
        }
      }
    }

    &[data-variant="range"] {
      &.input-range {
        .input-container {
          @apply relative mt-2;

          // Custom dragger
          .dragger {
            @apply absolute block py-[3px] px-2 drop-shadow-sm bg-white rounded-md w-fit transform -translate-x-3/4 mt-[13px];

            .dragger-value {
              @apply text-xs text-gray-500;
            }
          }

          .ms-fill-lower {
            @apply absolute inset-y-0 h-2 bg-primary-500 rounded-l-full;
          }

          .ms-fill-upper {
            @apply absolute inset-y-0 h-2 right-0 bg-gray-100 rounded-r-full;
          }

          .input {
            @apply relative w-full bg-transparent;

            &::-webkit-slider-runnable-track {
              -webkit-appearance: none;
              cursor: theme("cursor.pointer");
              width: theme("width.full");
              height: theme("height.2");
              border: theme("borderWidth.0");
              border-radius: theme("borderRadius.full");
            }

            &::-webkit-slider-thumb {
              @apply relative outline outline-4 outline-primary-500;

              -webkit-appearance: none;
              border: theme("borderWidth.0");
              height: theme("height.3");
              width: theme("width.3");
              border-radius: theme("borderRadius.full");
              background: theme("colors.white");
              transform: translate(0px, -12px);
              cursor: pointer;
            }

            // For Edge and IE only
            &::-ms-fill-lower {
              background-color: theme("colors.primary.500");
            }

            // For Edge and IE only
            &::-ms-fill-upper {
              background-color: theme("colors.gray.100");
            }
          }

          .limit-values-container {
            @apply flex justify-between -mt-2;

            p {
              @apply text-xs text-gray-500;
            }
          }
        }
      }
    }

    &[data-variant="repeatable"] {
      &.input-repeatable {
        .input-container {
          @apply flex flex-col gap-4;

          .repeatable-input {
            @apply flex flex-col p-4 border rounded-md gap-4;

            .button-remove-inputs {
              @apply flex text-sm items-center justify-center w-fit ml-auto rounded-md border border-red-600 py-1 px-3 font-medium text-red-600 bg-transparent shadow-sm hover:bg-red-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50 text-center duration-200;

              svg {
                @apply w-4 mr-3;
              }
            }
          }

          .button-add-input {
            @apply w-fit mr-auto flex items-center justify-center rounded-md border border-gray-300 border-dashed bg-transparent py-1 px-3 text-sm font-medium text-gray-400 hover:border-solid hover:border-primary-500 hover:bg-primary-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-gray-50 text-center duration-200;

            svg {
              @apply w-4 mr-3;
            }
          }
        }
      }
    }
  }

  [data-collection-type="layout"] {
    &[data-variant="wide"] {
      .layout-container {
        @apply w-full mx-auto;
      }
    }

    &[data-variant="boxed"] {
      .layout-container {
        @apply w-full mx-auto max-w-7xl;
      }
    }
  }

  [data-collection-type="modal"] {
    &[data-variant="simple"] {
      @apply relative z-50;

      .backdrop {
        @apply fixed inset-0 bg-black/30;
      }

      .modal-container {
        @apply fixed inset-0 overflow-y-scroll px-4 pt-4 pb-20 flex h-screen;

        .dialog-panel {
          @apply m-auto relative rounded bg-white;

          .button-close {
            @apply absolute z-30 right-2 top-2;

            svg {
              @apply w-6 text-gray-500;
            }
          }
        }
      }
    }
  }

  [data-collection-type="navbar"] {
    &[data-variant="boxed"] {
      @apply bg-white shadow w-screen z-30 fixed;

      .navbar-container {
        @apply w-full mx-auto max-w-7xl;
      }
    }
  }

  [data-collection-type="sidebar"] {
    &[data-variant="one-quarter"] {
      @apply w-full;
    }
  }

  [data-collection-type="slide-over"] {
    &[data-variant="right-side-half-width"] {
      @apply relative z-50;

      .backdrop {
        @apply fixed inset-0 bg-black/30;
      }

      .slide-over-container {
        @apply fixed top-0 bottom-0 right-0 h-screen w-1/2 bg-white flex justify-between overflow-scroll;

        .dialog-panel {
          @apply w-full relative;
        }
      }
    }
  }

  [data-collection-type="slider"] {
    &[data-variant="fade-with-previews"] {
      @apply flex flex-col w-full;

      .slides-container {
        @apply flex items-center;

        .animated-slide {
          @apply absolute inset-0 overflow-hidden rounded-[8px];

          .slide {
            @apply w-full h-full flex;

            .slide-container {
              @apply w-full h-full flex flex-row items-center justify-center gap-4 relative overflow-hidden;

              .background {
                @apply absolute w-full h-full inset-0 object-cover object-center;
              }

              .backdrop {
                @apply absolute w-full h-full bg-black/30 inset-0;
              }

              .content–container {
                @apply absolute inset-0 flex items-center justify-center;

                .content {
                  @apply w-9/12 relative text-white p-8;

                  h3 {
                    @apply text-[20px] font-bold text-[36px] mb-6;
                  }

                  p {
                    @apply w-1/2 text-white;
                  }

                  .buttons-container {
                    @apply flex items-center gap-3 mt-5;

                    .button {
                      @apply rounded-md border border-transparent bg-primary-600 py-3 px-8 font-medium text-white hover:bg-primary-700;
                    }
                  }
                }
              }
            }
          }
        }

        .full-screen-button {
          @apply absolute right-5 top-5 w-10 h-10 flex items-center justify-center rounded-full bg-black/30 text-white;

          svg {
            @apply w-5 h-5;
          }
        }

        .navigation {
          @apply z-10 flex items-center px-5;

          &[data-next="true"] {
            @apply ml-auto;
          }

          &[data-reachable="false"] {
            @apply hidden;
          }

          .icon-container {
            @apply cursor-pointer flex items-center justify-center w-10 h-10 bg-black/20 rounded-full;

            svg {
              @apply w-5 h-5 text-white stroke-current;
            }
          }

          &[data-next="false"] {
            .icon-container {
              svg {
                @apply rotate-180;
              }
            }
          }
        }
      }

      .previews-container {
        @apply relative flex gap-2 p-2 w-full justify-center;

        .preview-slide {
          @apply w-[8%] rounded-[8px] relative overflow-hidden pb-[8%] border-2 border-transparent cursor-pointer duration-200 hover:border-primary-600;

          img {
            @apply object-cover;
          }

          &[data-active="true"] {
            @apply border-primary-600;
          }

          &[data-active="false"] {
            @apply scale-95 hover:scale-100;
          }
        }
      }

      &.slider-fade-with-previews-full-screen-dialog {
        @apply relative z-50;

        .backdrop {
          @apply fixed inset-0 bg-black/30;
        }

        .dialog-container {
          @apply fixed inset-0 flex items-center justify-center p-4;

          .dialog-panel {
            @apply w-[90vw] max-h-[90vh] overflow-y-scroll mx-auto bg-white p-6 rounded-[8px];

            .full-screen-slider {
              .full-screen-aspect-ratio {
                @apply flex relative h-[90vh] w-full;

                .slides-container {
                  @apply w-full;

                  .background {
                    @apply object-contain;
                  }
                }
                // @apply relative flex h-[90vh] w-full;
              }
            }
          }
        }
      }
    }
  }

  .table__container {
    @apply w-full rounded-md bg-white overflow-hidden;

    // To make space for dropdown button on all levels
    // width of that block will passed in tableConfig.dropdown.widthClassName
    .table__dropdown__button {
      @apply flex flex-shrink-0 items-center justify-center;
    }

    .table__header {
      @apply bg-white flex flex-row text-sm z-10 rounded-t-md w-full;

      .table__header__item {
        @apply w-full flex flex-row;

        .table__cell {
          @apply py-4 first:pl-6 last:pr-6 px-2 text-left;
        }
      }
    }

    .table__body {
      @apply bg-white w-full;

      .table__item {
        @apply w-full odd:bg-gray-100 flex flex-row items-start;

        .table__item__content {
          @apply w-full flex flex-col;

          .table__dropdown {
            @apply w-full flex-row;

            &[data-is-open="true"] {
              @apply flex;
            }

            &[data-is-open="false"] {
              @apply hidden;
            }

            .dropdown__row {
              @apply w-full px-2;
            }
          }

          .table__row {
            @apply w-full py-2 flex flex-row items-center;

            .table__cell {
              @apply first:pl-6 last:pr-6 px-2 overflow-hidden;
            }
          }
        }
      }
    }
  }

  .spring_notification {
    @apply z-50 fixed right-0 flex items-end flex-col mx-4 bottom-0 mb-4;

    &.is_from_top {
      @apply mb-0 top-0 mt-4;
    }

    .notification_container {
      @apply relative overflow-hidden drop-shadow-md;

      .wrapper {
        @apply relative flex flex-row items-start rounded-sm pr-8 py-2 bg-white;

        .body {
          @apply flex flex-col items-start;

          &[data-message="true"] {
            @apply gap-2;
          }

          .heading {
            @apply pl-2 text-sm;
          }

          .message {
            @apply pl-2 text-xs;
          }
        }

        .close_button {
          @apply absolute right-1 top-1 text-black w-3 z-50 cursor-pointer;

          svg {
            @apply fill-current w-3;
          }
        }
      }
    }
  }
}
