html {
  -moz-osx-font-smoothing: grayscale !important; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased !important; /*(For Chrome and Safari)*/
}

img {
  image-rendering: -webkit-optimize-contrast;
}

input {
  -webkit-appearance: none;
}

@tailwind base;
@tailwind components;

.prose {
  max-width: 100%;
}

body {
  font-family: var(--font-default);
}

.font-primary {
  font-family: var(--font-primary);
}

input,
button,
textarea {
  @apply focus:outline-none focus:ring-0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

@tailwind utilities;

@layer components {
  .skeleton {
    @apply bg-slate-100 animate-pulse rounded-md;
  }

  [data-component="elements.buttons-array"] {
    &[data-variant="column-with-title"] {
      .buttons-array-column-with-title {
        @apply flex flex-col gap-2 relative;

        .buttons-array-title {
          @apply relative inline-flex text-sm w-full leading-relaxed opacity-50 uppercase;

          .icon-container {
            img {
              @apply object-contain object-center;
            }
          }
        }

        .buttons-array-buttons-container {
          @apply w-full items-start flex flex-col gap-2;
        }
      }
    }

    &[data-variant="row"] {
      .buttons-array-row {
        @apply flex flex-row gap-2 relative;

        .buttons-array-buttons-container {
          @apply flex gap-4 relative;
        }
      }
    }
  }

  [data-component="elements.button"] {
    .icon-container {
      @apply w-10 h-10;

      img {
        @apply object-contain object-center;
      }
    }

    &[data-variant="text"] {
      /**
      * Using just "a, button { ... }"
      * will not work because of specificity CSS rules
      * lower code overrides the upper one
      */
      .button-text {
        @apply relative inline-flex w-full font-medium leading-relaxed justify-center items-center rounded-md transition duration-150 ease-in-out hover:text-primary-600;
      }
    }

    &[data-variant="locale"] {
      .button-locale {
        @apply relative inline-flex w-full font-medium leading-relaxed justify-center items-center border border-black rounded-md px-8 py-3 transition duration-150 ease-in-out hover:bg-black hover:text-white uppercase;
      }
    }

    &[data-variant="secondary"] {
      .button-secondary {
        @apply relative inline-flex w-full font-medium leading-relaxed justify-center items-center border border-black rounded-md px-8 py-3 transition duration-150 ease-in-out hover:bg-black hover:text-white;
      }
    }

    &[data-variant="primary"] {
      .button-primary {
        @apply relative inline-flex w-full justify-center items-center rounded-md border border-primary-600 bg-primary-600 px-8 py-3 font-medium text-white hover:bg-black hover:border-black transition duration-150 ease-in-out;
      }
    }
  }

  [data-collection-type="flyout"] {
    &[data-variant="simple"] {
      @apply absolute left-1/2 z-10 mt-2 w-screen max-w-xs -translate-x-1/2 transform;

      .flyout-container {
        @apply overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 p-2 bg-white;
      }
    }
  }

  [data-collection-type="footer"] {
    &[data-variant="boxed"] {
      .footer-container {
        @apply w-full mx-auto max-w-7xl;
      }
    }
  }

  [data-collection-type="form"] {
    &[data-variant="simple"] {
      .form-container {
        @apply grid grid-cols-4 gap-x-3 gap-y-6;

        .submit-button-container {
          @apply col-span-4;
        }
      }
    }
  }

  [data-component="elements.input"] {
    .input-label {
      @apply block mb-1;
    }

    .input-error {
      @apply absolute;

      p {
        @apply text-red-500 text-xs pt-1;
      }
    }

    &[data-variant="text"] {
      &.input-text {
        @apply relative;

        .input-container {
          @apply relative flex gap-2 items-center rounded-md border border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm px-3 py-2;

          .media-container {
            @apply hidden;

            &[data-media="true"] {
              @apply flex relative w-5 h-5;

              // img {
              //   @apply hidden;

              //   &:nth-child(1) {
              //     @apply block;
              //   }
              // }
            }
          }

          // &:hover {
          //   .media-container {
          //     &[data-media="true"] {
          //       img {
          //         @apply hidden;

          //         &:nth-child(1) {
          //           @apply hidden;
          //         }

          //         &:nth-child(2) {
          //           @apply block;
          //         }
          //       }
          //     }
          //   }
          // }

          .additional-media-container {
            @apply hidden;

            &[data-media="true"] {
              @apply flex relative w-5 h-5;
            }
          }

          input,
          textarea {
            @apply w-full border-none p-0;
          }

          .reset-button-container {
            @apply absolute right-1 -top-6 z-10;

            .reset-button {
              @apply flex items-center text-zinc-400 hover:text-zinc-600 justify-center rounded-full transition duration-150 ease-in-out;

              p {
                @apply text-sm;
              }

              .icon {
                @apply hidden;
              }
            }
          }
        }
      }
    }

    &[data-variant="listbox"] {
      &.input-listbox {
        @apply w-full;

        .input-container {
          @apply relative;

          .listbox {
            @apply mt-1 z-20;

            .button-container {
              @apply w-full;

              .button {
                @apply relative flex items-center gap-2 border border-gray-300 shadow-sm w-full cursor-pointer rounded-lg bg-white py-2 px-3 text-left focus:outline-none focus-visible:border-primary-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-primary-300 sm:text-sm;

                .title-container {
                  @apply w-full flex items-center gap-2;

                  .selected-icon-container {
                    @apply hidden;

                    &[data-media="true"] {
                      @apply flex items-center gap-2;

                      .icon-container {
                        @apply relative w-5 h-5 flex items-center;

                        img {
                          @apply object-contain object-center;
                        }
                      }
                    }
                  }

                  .title {
                    @apply block truncate;
                  }
                }

                .media-container {
                  @apply hidden;

                  &[data-media="true"] {
                    @apply flex relative w-5 h-5;
                  }
                }

                .additional-media-container {
                  @apply hidden;

                  &[data-media="true"] {
                    @apply flex relative w-5 h-5;

                    img {
                      @apply hidden;
                    }
                  }
                }
              }

              &[aria-expanded="false"] {
                .button {
                  .additional-media-container {
                    &[data-media="true"] {
                      img {
                        &:nth-child(1) {
                          @apply block;
                        }

                        &:nth-child(2) {
                          @apply hidden;
                        }
                      }
                    }
                  }
                }
              }

              &[aria-expanded="true"] {
                .button {
                  .additional-media-container {
                    &[data-media="true"] {
                      img {
                        &:nth-child(1) {
                          @apply hidden;
                        }

                        &:nth-child(2) {
                          @apply block;
                        }
                      }
                    }
                  }
                }
              }
            }

            .options {
              @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm z-20;

              .option {
                @apply flex items-center gap-2 hover:bg-primary-50 relative cursor-pointer select-none py-2 px-3 text-gray-900;

                .title-container {
                  @apply relative flex items-center gap-2;

                  .media-container {
                    @apply hidden;

                    &[data-media="true"] {
                      @apply flex relative w-5 h-5;
                    }
                  }

                  .title {
                    @apply block truncate font-normal;
                  }
                }

                .extra-media-container {
                  @apply hidden;

                  &[data-media="true"] {
                    @apply flex relative w-5 h-5;

                    img {
                      @apply hidden;
                    }
                  }
                }

                &[aria-selected="true"] {
                  @apply bg-primary-50 text-primary-900;

                  .title-container {
                    .title {
                      @apply block truncate;
                    }
                  }

                  .extra-media-container {
                    &[data-media="true"] {
                      img {
                        @apply block;
                      }
                    }
                  }
                }
              }
            }
          }

          .reset-button-container {
            @apply absolute right-1 -top-6 z-10;

            .reset-button {
              @apply flex items-center text-zinc-400 hover:text-zinc-600 justify-center rounded-full transition duration-150 ease-in-out;

              p {
                @apply text-sm;
              }

              .icon {
                @apply hidden;
              }
            }
          }
        }
      }
    }

    &[data-variant="radio-group"] {
      &.input-radio-group {
        @apply w-full;

        .input-container {
          @apply relative;

          .radio-group {
            @apply relative mt-1;

            .button-container {
              @apply w-full;

              .button {
                @apply relative flex items-center gap-2 border border-gray-300 shadow-sm w-full cursor-pointer rounded-lg bg-white py-2 px-3 text-left focus:outline-none focus-visible:border-primary-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-primary-300 sm:text-sm;

                .title-container {
                  @apply w-full flex items-center gap-2;

                  .selected-icon-container {
                    @apply hidden;

                    &[data-media="true"] {
                      @apply flex items-center gap-2;

                      .icon-container {
                        @apply relative w-5 h-5 flex items-center;

                        img {
                          @apply object-contain object-center;
                        }
                      }
                    }
                  }

                  .title {
                    @apply block truncate;
                  }
                }

                .media-container {
                  @apply hidden;

                  &[data-media="true"] {
                    @apply flex relative w-5 h-5;
                  }
                }

                .additional-media-container {
                  @apply hidden;

                  &[data-media="true"] {
                    @apply flex relative w-5 h-5;

                    img {
                      @apply hidden;
                    }
                  }
                }
              }

              &[aria-expanded="false"] {
                .button {
                  .additional-media-container {
                    &[data-media="true"] {
                      img {
                        &:nth-child(1) {
                          @apply block;
                        }

                        &:nth-child(2) {
                          @apply hidden;
                        }
                      }
                    }
                  }
                }
              }

              &[aria-expanded="true"] {
                .button {
                  .additional-media-container {
                    &[data-media="true"] {
                      img {
                        &:nth-child(1) {
                          @apply hidden;
                        }

                        &:nth-child(2) {
                          @apply block;
                        }
                      }
                    }
                  }
                }
              }
            }

            .options {
              @apply w-fit overflow-auto rounded-md bg-white text-base focus:outline-none sm:text-sm z-10;

              .option {
                @apply flex items-center gap-2 relative cursor-pointer select-none py-2 text-gray-900;

                .title-container {
                  @apply relative flex items-center gap-2;

                  .media-container {
                    @apply hidden;

                    &[data-media="true"] {
                      @apply flex relative w-5 h-5;
                    }
                  }

                  .title {
                    @apply block truncate font-normal;
                  }
                }

                .extra-media-container {
                  @apply w-4 h-4 flex flex-shrink-0 rounded-full border border-gray-300 items-center justify-center;

                  &[data-media="true"] {
                    @apply flex relative w-5 h-5;

                    img {
                      @apply hidden;
                    }
                  }

                  .check {
                    @apply flex flex-shrink-0 w-3 h-3 rounded-full bg-transparent;
                  }
                }

                &[aria-selected="true"] {
                  .title-container {
                    .title {
                      @apply block truncate;
                    }
                  }

                  .extra-media-container {
                    &[data-media="true"] {
                      img {
                        @apply block;
                      }
                    }
                  }

                  .extra-media-container {
                    .check {
                      @apply bg-primary-600;
                    }
                  }
                }
              }
            }
          }

          .reset-button-container {
            @apply absolute right-1 -top-6 z-10;

            .reset-button {
              @apply flex items-center text-zinc-400 hover:text-zinc-600 justify-center rounded-full transition duration-150 ease-in-out;

              p {
                @apply text-sm;
              }

              .icon {
                @apply hidden;
              }
            }
          }
        }
      }
    }

    &[data-variant="switch"] {
      &.input-switch {
        .input-container {
          @apply relative flex gap-2 items-start;

          .label {
            @apply text-left relative;
          }

          .check {
            @apply w-5 h-5 flex shrink-0 rounded-md border items-center justify-center border-gray-300  mt-[2px] text-white cursor-pointer;

            &[aria-selected="true"] {
              @apply bg-primary-600;

              svg {
                @apply w-4;
              }
            }
          }
        }
      }
    }

    &[data-variant="file"] {
      &.input-file {
        .input-container {
          @apply relative;

          .input {
            .button {
              @apply w-full aspect-w-4 aspect-h-4;

              .button-container {
                @apply flex flex-col items-center justify-center border w-full rounded-md border-gray-300 border-dashed cursor-pointer text-gray-400;

                .icon-container {
                  @apply w-6 h-6 flex items-center justify-center relative mb-1;

                  svg {
                    @apply flex-shrink-0 w-5;
                  }
                }

                p {
                  @apply text-center text-xs px-2;
                }
              }
            }

            &[data-multiple="false"][data-filled="true"] {
              .button {
                @apply hidden;
              }
            }
          }

          .files-array {
            &[data-multiple="true"] {
              @apply w-full grid grid-cols-4 gap-4 mt-4;
            }

            &[data-multiple="false"] {
              @apply w-full;

              &[data-files="0"] {
                @apply hidden;
              }
            }

            .file {
              @apply relative w-full aspect-w-4 aspect-h-4 border border-gray-300 rounded-md overflow-hidden;

              img {
                @apply object-cover object-center;
              }

              .delete-button {
                @apply absolute top-[50%] bottom-[50%] left-[50%] right-[50%] flex w-8 h-8 items-center justify-center bg-primary-700 rounded-full text-white cursor-pointer -translate-x-2/4 -translate-y-2/4 opacity-0 transition duration-200;

                .icon-container {
                  @apply w-5 h-5 flex items-center justify-center relative;

                  svg {
                    @apply flex-shrink-0;
                  }
                }
              }

              &:hover {
                .delete-button {
                  @apply opacity-100;
                }
              }
            }
          }

          .reset-button-container {
            @apply absolute right-1 -top-6 z-10;

            .reset-button {
              @apply flex items-center text-zinc-400 hover:text-zinc-600 justify-center rounded-full transition duration-150 ease-in-out;

              p {
                @apply text-sm;
              }

              .icon {
                @apply hidden;
              }
            }
          }
        }
      }
    }

    &[data-variant="range"] {
      &.input-range {
        .input-container {
          @apply relative mt-2;

          // Custom dragger
          .dragger {
            @apply absolute block py-[3px] px-2 drop-shadow-sm bg-white rounded-md w-fit transform -translate-x-3/4 mt-[13px];

            .dragger-value {
              @apply text-xs text-gray-500;
            }
          }

          .ms-fill-lower {
            @apply absolute inset-y-0 h-2 bg-primary-500 rounded-l-full;
          }

          .ms-fill-upper {
            @apply absolute inset-y-0 h-2 right-0 bg-gray-100 rounded-r-full;
          }

          .input {
            @apply relative w-full bg-transparent;

            &::-webkit-slider-runnable-track {
              -webkit-appearance: none;
              cursor: theme("cursor.pointer");
              width: theme("width.full");
              height: theme("height.2");
              border: theme("borderWidth.0");
              border-radius: theme("borderRadius.full");
            }

            &::-webkit-slider-thumb {
              @apply relative outline outline-4 outline-primary-500;

              -webkit-appearance: none;
              border: theme("borderWidth.0");
              height: theme("height.3");
              width: theme("width.3");
              border-radius: theme("borderRadius.full");
              background: theme("colors.white");
              transform: translate(0px, -12px);
              cursor: pointer;
            }

            // For Edge and IE only
            &::-ms-fill-lower {
              background-color: theme("colors.primary.500");
            }

            // For Edge and IE only
            &::-ms-fill-upper {
              background-color: theme("colors.gray.100");
            }
          }

          .limit-values-container {
            @apply flex justify-between -mt-2;

            p {
              @apply text-xs text-gray-500;
            }
          }
        }
      }
    }

    &[data-variant="repeatable"] {
      &.input-repeatable {
        .input-container {
          @apply flex flex-col gap-4;

          .repeatable-inputs {
            @apply flex flex-col p-4 border rounded-md gap-4;

            .button-remove-input {
              @apply flex text-sm items-center justify-center w-fit ml-auto rounded-md border border-red-600 py-1 px-3 font-medium text-red-600 bg-transparent shadow-sm hover:bg-red-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50 text-center duration-200;

              svg {
                @apply w-4 mr-3;
              }
            }
          }

          .button-add-input {
            @apply w-fit mr-auto flex items-center justify-center rounded-md border border-gray-300 border-dashed bg-transparent py-1 px-3 text-sm font-medium text-gray-400 hover:border-solid hover:border-primary-500 hover:bg-primary-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-gray-50 text-center duration-200;

            svg {
              @apply w-4 mr-3;
            }
          }
        }
      }
    }

    &[data-variant="date"] {
      &.input-date {
        @apply relative z-20;

        .input-container {
          @apply relative;

          .media-container {
            @apply hidden;

            &[data-media="true"] {
              @apply absolute flex top-[7px] left-2 w-6 h-6;

              & ~ .react-datetimerange-picker,
              & ~ .react-datetime-picker,
              & ~ .react-date-picker,
              & ~ .react-daterange-picker {
                .react-datetimerange-picker__wrapper,
                .react-datetime-picker__wrapper,
                .react-date-picker__wrapper,
                .react-daterange-picker__wrapper {
                  @apply pl-10;
                }
              }
            }
          }

          .react-datetimerange-picker,
          .react-datetime-picker,
          .react-date-picker,
          .react-daterange-picker {
            @apply box-border flex flex-col relative w-full;

            &.react-datetimerange-picker--disabled,
            &.react-datetime-picker--disabled,
            &.react-daterange-picker--disabled {
              @apply bg-[#f0f0f0] text-[#6d6d6d];
            }

            &.react-daterange-picker--closed,
            &.react-date-picker--closed,
            &.react-datetime-picker--closed {
            }

            &.react-daterange-picker--enabled,
            &.react-date-picker--enabled,
            &.react-datetime-picker--enabled {
            }

            &.react-datetimerange-picker--open,
            &.react-datetime-picker--open,
            &.react-date-picker--open,
            &.react-daterange-picker--open {
            }

            &.react-datetimerange-picker--enabled,
            &.react-datetime-picker--enabled,
            &.react-date-picker--enabled,
            &.react-daterange-picker--enabled {
            }

            .react-datetimerange-picker__wrapper,
            .react-datetime-picker__wrapper,
            .react-date-picker__wrapper,
            .react-daterange-picker__wrapper {
              @apply flex grow shrink-0 items-center gap-2 rounded-md border border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm px-3 py-2;

              .react-datetimerange-picker__inputGroup,
              .react-datetime-picker__inputGroup,
              .react-date-picker__inputGroup,
              .react-daterange-picker__inputGroup {
                @apply w-full grow cursor-text;

                .react-datetime-picker__inputGroup__divider {
                }

                .react-datetimerange-picker__inputGroup__input,
                .react-datetime-picker__inputGroup__input,
                .react-date-picker__inputGroup__input,
                .react-daterange-picker__inputGroup__input {
                  @apply min-w-[0.54em] text-sm border-0 bg-none box-content;

                  &:placeholder-shown {
                    @apply hidden;

                    & + .react-datetime-picker__inputGroup__divider,
                    & + .react-date-picker__inputGroup__divider {
                      @apply hidden;
                    }

                    &.react-datetimerange-picker__inputGroup__year,
                    &.react-datetime-picker__inputGroup__year,
                    &.react-date-picker__inputGroup__year,
                    &.react-daterange-picker__inputGroup__year {
                      @apply block w-full;
                    }
                  }

                  &::-webkit-outer-spin-button,
                  &::-webkit-inner-spin-button {
                    @apply appearance-none m-0;
                  }

                  &:invalid {
                    // @apply bg-[#ffe6e6];
                  }

                  &.react-datetimerange-picker__inputGroup__month,
                  &.react-datetime-picker__inputGroup__month,
                  &.react-date-picker__inputGroup__month,
                  &.react-daterange-picker__inputGroup__month {
                  }

                  &.react-datetimerange-picker__inputGroup__year,
                  &.react-datetime-picker__inputGroup__year,
                  &.react-date-picker__inputGroup__year,
                  &.react-daterange-picker__inputGroup__year {
                    @apply pr-2;
                  }

                  &.react-datetimerange-picker__inputGroup__hour,
                  &.react-datetime-picker__inputGroup__hour {
                  }

                  &.react-datetimerange-picker__inputGroup__minute,
                  &.react-datetime-picker__inputGroup__minute {
                  }

                  &.react-datetimerange-picker__inputGroup__input--hasLeadingZero,
                  &.react-date-picker__inputGroup__input--hasLeadingZero,
                  &.react-datetime-picker__inputGroup__input--hasLeadingZero,
                  &.react-daterange-picker__inputGroup__input--hasLeadingZero {
                    // padding-left: calc(1px + 0.54em);
                    // @apply -ml-[0.54em];
                  }
                }

                .react-datetimerange-picker__inputGroup__leadingZero,
                .react-date-picker__inputGroup__leadingZero,
                .react-datetime-picker__inputGroup__leadingZero,
                .react-daterange-picker__inputGroup__leadingZero {
                  @apply text-sm;
                }
              }

              .react-datetimerange-picker__range-divider,
              .react-date-picker__range-divider,
              .react-datetime-picker__range-divider,
              .react-daterange-picker__range-divider {
                @apply px-2;
              }

              .react-datetimerange-picker__button,
              .react-date-picker__button,
              .react-datetime-picker__button,
              .react-daterange-picker__button {
                @apply border-0 bg-transparent;

                .icon-container {
                  @apply relative w-5 h-5 aspect-w-2 aspect-h-2;
                }

                &:enabled {
                  @apply cursor-pointer stroke-black transition duration-200;
                }

                &:enabled:hover,
                &:enabled:focus {
                  svg {
                    @apply stroke-primary-500 transition duration-200;
                  }
                }

                &:disabled {
                  svg {
                    @apply stroke-primary-400;
                  }
                }

                svg {
                  display: inherit;
                }

                &.react-datetimerange-picker__clear-button,
                &.react-date-picker__clear-button,
                &.react-datetime-picker__clear-button,
                &.react-daterange-picker__clear-button {
                  @apply hidden;
                }

                &.react-datetimerange-picker__calendar-button,
                &.react-date-picker__calendar-button,
                &.react-datetime-picker__calendar-button,
                &.react-daterange-picker__calendar-button {
                }
              }
            }

            .react-datetimerange-picker__calendar,
            .react-date-picker__calendar,
            .react-datetime-picker__calendar,
            .react-daterange-picker__calendar {
              @apply w-full z-10 my-1;

              &.react-datetimerange-picker__calendar--open,
              &.react-date-picker__calendar--open,
              &.react-datetime-picker__calendar--open,
              &.react-daterange-picker__calendar--open {
                @apply block;
              }

              &.react-datetimerange-picker__calendar--closed,
              &.react-date-picker__calendar--closed,
              &.react-datetime-picker__calendar--closed,
              &.react-daterange-picker__calendar--closed {
                @apply hidden;
              }
            }

            .react-datetimerange-picker__clock {
              // @apply z-10 w-[200px] h-[200px] max-w-[100vw] p-[25px] bg-white border border-solid border-[#a0a096];
              @apply hidden;

              &.react-datetimerange-picker__clock--open {
                @apply hidden;
              }

              &.react-datetimerange-picker__clock--closed {
                @apply hidden;
              }

              .react-clock {
                @apply box-border block relative;

                & *,
                & *:before,
                & *:after {
                  @apply box-border;
                }

                .react-clock__face {
                  @apply absolute top-0 bottom-0 left-0 right-0 border-solid border-[1px] border-black rounded-[50%];

                  .react-clock__mark {
                    @apply absolute top-0 bottom-0 left-1/2 right-1/2;

                    .react-clock__mark__number {
                      @apply absolute left-[-40px] w-[80px] text-center;
                    }

                    &.react-clock__minute-mark {
                      .react-clock__mark__body {
                        @apply absolute bg-black translate-x-[-50%];

                        &.react-clock__minute-mark__body {
                        }
                      }
                    }
                  }
                }

                .react-clock__hand {
                  @apply absolute top-0 bottom-0 left-1/2 right-1/2;

                  .react-clock__hand__body {
                    @apply absolute bg-black translate-x-[-50%];
                  }

                  &.react-clock__hour-hand {
                    .react-clock__hour-hand__body {
                    }
                  }

                  &.react-clock__minute-hand {
                    .react-clock__minute-hand__body {
                    }
                  }
                }
              }
            }
          }

          .reset-button-container {
            @apply absolute right-1 -top-6 z-10;

            .reset-button {
              @apply flex items-center text-zinc-400 hover:text-zinc-600 justify-center rounded-full transition duration-150 ease-in-out;

              p {
                @apply text-sm;
              }

              .icon {
                @apply hidden;
              }
            }
          }
        }
      }

      .react-calendar {
        @apply z-30 rounded-md border border-gray-300 shadow-sm box-border max-w-full bg-white leading-[1.125em] min-w-[250px];

        & *,
        & *:before,
        & *:after {
          @apply box-border;
        }

        button {
          @apply m-0 border-0 outline-none;

          &:enabled:hover {
            @apply cursor-pointer;
          }
        }

        .react-calendar__navigation {
          @apply flex h-[44px];

          button {
            @apply min-w-[44px] bg-none;

            &:enabled:hover,
            &:enabled:focus {
              @apply bg-transparent;
            }
          }
        }

        .react-calendar__navigation__next2-button {
          @apply hidden;
        }

        .react-calendar__navigation__prev2-button {
          @apply hidden;
        }

        .react-calendar--doubleView {
          @apply w-[700px];

          .react-calendar__viewContainer {
            @apply flex -m-[0.5em];
          }

          .react-calendar__viewContainer > * {
            @apply w-[50%] m-[0.5em];
          }
        }

        .react-calendar__viewContainer {
          .react-calendar__month-view {
            .react-calendar__month-view__weekdays {
              @apply text-center uppercase font-bold text-[0.75em];

              abbr {
                @apply no-underline text-neutral-400;
              }

              .react-calendar__month-view__weekdays__weekday {
                @apply aspect-w-14 aspect-h-1 text-center;

                & > * {
                  @apply absolute h-full w-full inset-0 flex items-center justify-center;
                }
              }

              .react-calendar__month-view__weekdays__weekday--weekend {
              }
            }

            .react-calendar__month-view__days {
              @apply gap-y-4;

              .react-calendar__tile {
                @apply max-w-full bg-none text-center leading-4 aspect-w-7 aspect-h-1;

                & > * {
                  @apply absolute h-full w-full inset-0 flex items-center justify-center;
                }

                &.react-calendar__month-view__days__day {
                  &.react-calendar__tile--now {
                    @apply ring-black;

                    &:not(.react-calendar__tile--active) {
                      @apply rounded-full ring-[1px];
                    }
                  }

                  &.react-calendar__month-view__days__day--neighboringMonth {
                    @apply text-neutral-300;
                  }

                  &.react-calendar__tile--range {
                    &.react-calendar__tile--active {
                      @apply bg-black text-white;
                    }

                    &.react-calendar__tile--rangeStart {
                      @apply bg-black text-white rounded-l-full;
                    }

                    &.react-calendar__tile--rangeEnd {
                      @apply bg-black text-white rounded-r-full;
                    }

                    &.react-calendar__tile--rangeBothEnds {
                      @apply bg-black text-white rounded-full;
                    }

                    &.react-calendar__tile--hover {
                      @apply bg-neutral-300 text-white;

                      &.react-calendar__tile--hoverStart {
                      }

                      &.react-calendar__tile--hoverEnd {
                      }

                      &.react-calendar__tile--hoverBothEnds {
                      }
                    }
                  }
                }
              }
            }
          }

          .react-calendar__year-view {
            .react-calendar__year-view__months {
              .react-calendar__tile {
                &.react-calendar__year-view__months__month {
                  @apply aspect-w-6 aspect-h-1 flex items-center justify-center;

                  abbr {
                    @apply flex items-center justify-center w-full h-full;
                  }
                }
              }
            }
          }

          .react-calendar__decade-view {
            .react-calendar__decade-view__years {
              .react-calendar__tile {
                &.react-calendar__decade-view__years__year {
                  @apply py-4;
                }
              }
            }
          }

          .react-calendar__century-view {
            .react-calendar__century-view__decades {
              .react-calendar__tile {
                &.react-calendar__century-view__decades__decade {
                  @apply py-4;
                }
              }
            }
          }
        }
      }
    }
  }

  [data-collection-type="layout"] {
    &[data-variant="wide"] {
      .layout-container {
        @apply w-full mx-auto;
      }
    }

    &[data-variant="boxed"] {
      .layout-container {
        @apply w-full mx-auto max-w-7xl;
      }
    }
  }

  [data-collection-type="modal"] {
    &[data-variant="simple"] {
      @apply relative z-50;

      .backdrop {
        @apply fixed inset-0 bg-black/30;
      }

      .modal-container {
        @apply fixed inset-0 overflow-y-scroll px-4 pt-4 pb-20 flex h-screen;

        .dialog-panel {
          @apply m-auto max-h-[90vh] overflow-y-scroll relative rounded bg-white;

          .button-close {
            @apply absolute z-30 right-2 top-2;

            svg {
              @apply w-6 text-gray-500;
            }
          }
        }
      }
    }
  }

  [data-collection-type="navbar"] {
    &[data-variant="boxed"] {
      @apply bg-white shadow w-screen z-30 fixed;

      .navbar-container {
        @apply w-full mx-auto max-w-7xl;
      }
    }
  }

  [data-collection-type="sidebar"] {
    &[data-variant="one-quarter"] {
      @apply w-full;
    }
  }

  [data-collection-type="slide-over"] {
    &[data-variant="right-side-half-width"] {
      @apply relative z-50;

      .backdrop {
        @apply fixed inset-0 bg-black/30;
      }

      .slide-over-container {
        @apply fixed top-0 bottom-0 right-0 h-screen w-1/2 bg-white flex justify-between overflow-scroll;

        .dialog-panel {
          @apply w-full relative;
        }
      }
    }
  }

  [data-collection-type="slider"] {
    &[data-variant="fade-with-previews"] {
      @apply flex flex-col w-full;

      .slides-container {
        @apply flex items-center;

        .animated-slide {
          @apply absolute inset-0 overflow-hidden rounded-[8px];

          .slide {
            @apply w-full h-full flex;

            .slide-container {
              @apply w-full h-full flex flex-row items-center justify-center gap-4 relative overflow-hidden;

              .background {
                @apply absolute w-full h-full inset-0 object-cover object-center;
              }

              .backdrop {
                @apply absolute w-full h-full bg-black/30 inset-0;
              }

              .content–container {
                @apply absolute inset-0 flex items-center justify-center;

                .content {
                  @apply w-9/12 relative text-white p-8;

                  h3 {
                    @apply text-[20px] font-bold text-[36px] mb-6;
                  }

                  p {
                    @apply w-1/2 text-white;
                  }

                  .buttons-container {
                    @apply flex items-center gap-3 mt-5;

                    .button {
                      @apply rounded-md border border-transparent bg-primary-600 py-3 px-8 font-medium text-white hover:bg-primary-700;
                    }
                  }
                }
              }
            }
          }
        }

        .full-screen-button {
          @apply absolute right-5 top-5 w-10 h-10 flex items-center justify-center rounded-full bg-black/30 text-white;

          svg {
            @apply w-5 h-5;
          }
        }

        .navigation {
          @apply z-10 flex items-center px-5;

          &[data-next="true"] {
            @apply ml-auto;
          }

          &[data-reachable="false"] {
            @apply hidden;
          }

          .icon-container {
            @apply cursor-pointer flex items-center justify-center w-10 h-10 bg-black/20 rounded-full;

            svg {
              @apply w-5 h-5 text-white stroke-current;
            }
          }

          &[data-next="false"] {
            .icon-container {
              svg {
                @apply rotate-180;
              }
            }
          }
        }
      }

      .previews-container {
        @apply relative flex gap-2 p-2 w-full justify-center;

        .preview-slide {
          @apply w-[8%] rounded-[8px] relative overflow-hidden pb-[8%] border-2 border-transparent cursor-pointer duration-200 hover:border-primary-600;

          img {
            @apply object-cover;
          }

          &[data-active="true"] {
            @apply border-primary-600;
          }

          &[data-active="false"] {
            @apply scale-95 hover:scale-100;
          }
        }
      }

      &.slider-fade-with-previews-full-screen-dialog {
        @apply relative z-50;

        .backdrop {
          @apply fixed inset-0 bg-black/30;
        }

        .dialog-container {
          @apply fixed inset-0 flex items-center justify-center p-4;

          .dialog-panel {
            @apply w-[90vw] max-h-[90vh] overflow-y-scroll mx-auto bg-white p-6 rounded-[8px];

            .full-screen-slider {
              .full-screen-aspect-ratio {
                @apply flex relative h-[90vh] w-full;

                .slides-container {
                  @apply w-full;

                  .background {
                    @apply object-contain;
                  }
                }
                // @apply relative flex h-[90vh] w-full;
              }
            }
          }
        }
      }
    }
  }

  [data-ui="components.card"] {
    &[data-variant="simple"] {
      .default-skeleton-card {
        @apply w-full h-[150px] skeleton;
      }

      .default-empty-card {
        @apply w-full flex items-center justify-center py-10 border-2 border-gray-200 border-dashed rounded-md;

        p {
          @apply text-gray-500;
        }
      }
    }
  }

  [data-ui="components.table"] {
    &[data-variant="simple"] {
      .table-container {
        @apply w-full rounded-md bg-white overflow-hidden;

        // To make space for dropdown button on all levels
        // width of that block will passed in tableConfig.dropdown.widthClassName
        .table-dropdown-button {
          @apply flex flex-shrink-0 items-center justify-center;
        }

        .table-header {
          @apply bg-white flex flex-row text-sm z-10 rounded-t-md w-full;

          .table-header-item {
            @apply w-full flex flex-row;

            .table-cell {
              @apply py-4 first:pl-6 last:pr-6 px-2 text-left;
            }
          }
        }

        .table-body {
          @apply bg-white w-full;

          .table-item {
            @apply w-full odd:bg-gray-100 flex flex-row items-start;

            .table-item-content {
              @apply w-full flex flex-col;

              .table-dropdown {
                @apply w-full flex-row;

                &[data-is-open="true"] {
                  @apply flex;
                }

                &[data-is-open="false"] {
                  @apply hidden;
                }

                .dropdown-row {
                  @apply w-full px-2;
                }
              }

              .table-row {
                @apply w-full py-2 flex flex-row items-center;

                .table-cell {
                  @apply first:pl-6 last:pr-6 px-2 overflow-hidden;
                }
              }
            }
          }
        }
      }
    }
  }

  [data-ui="components.notification"] {
    @apply z-50 fixed right-0 flex items-end flex-col mx-4 bottom-0 mb-4;

    &[data-position="top"] {
      @apply mb-0 top-0 mt-4;
    }

    .notification {
      @apply relative overflow-hidden drop-shadow-md;

      .notification-container {
        @apply relative flex flex-row items-start rounded-sm pr-8 py-2 bg-white;

        .notification-body {
          @apply flex flex-col items-start;

          &[data-message="true"] {
            @apply gap-2;
          }

          .notification-heading {
            @apply pl-2 text-sm;
          }

          .notification-message {
            @apply pl-2 text-xs;
          }
        }

        .button-close {
          @apply absolute right-2 top-2 text-black w-3 z-50 cursor-pointer;

          svg {
            @apply fill-current w-3;
          }
        }
      }

      &.notification-warning {
        .notification-container {
          .notification-body {
            .notification-heading {
              @apply text-orange-400;
            }
          }
        }
      }

      &.notification-error {
        .notification-container {
          .notification-body {
            .notification-heading {
              @apply text-red-500;
            }
          }
        }
      }
    }
  }

  [data-single-type="loader"] {
    &[data-variant="simple"] {
      .loader-container {
        @apply fixed w-screen h-screen bg-white flex items-center justify-center;
      }
    }
  }

  // Place custom classes below and put them in the components
  // They will override the above styles
  //
  // .custom-class {
  //  [data-component="elements.button"] {
  //    &[data-variant="primary"] {
  //      .button-primary {
  //        @apply bg-red-500;
  //      }
  //    }
  //  }
  //
  //  That code will override the primary button color to red, but save the rest of the styles
}
