@import "flatpickr/dist/themes/light.css";

html {
  -moz-osx-font-smoothing: grayscale !important; /*(For Firefox)*/
  -webkit-font-smoothing: antialiased !important; /*(For Chrome and Safari)*/
}

img {
  image-rendering: -webkit-optimize-contrast;
}

input {
  -webkit-appearance: none;
}

@tailwind base;
@tailwind components;

.prose {
  max-width: 100%;
}

body {
  font-family: var(--font-default);
}

.font-primary {
  font-family: var(--font-primary);
}

input,
button,
textarea {
  @apply focus:outline-none focus:ring-0;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@tailwind utilities;

@layer components {
  .skeleton {
    @apply bg-slate-100 animate-pulse rounded-md;
  }

  [data-component="elements.buttons-array"] {
    &[data-variant="column-with-title"] {
      .buttons-array-column-with-title {
        @apply flex flex-col gap-2 relative;

        .buttons-array-title {
          @apply relative inline-flex text-sm w-full leading-relaxed opacity-50 uppercase;

          .icon-container {
            img {
              @apply object-contain object-center;
            }
          }
        }

        .buttons-array-buttons-container {
          @apply w-full items-start flex flex-col gap-2;
        }
      }
    }

    &[data-variant="row"] {
      .buttons-array-row {
        @apply flex flex-row gap-2 relative;

        .buttons-array-buttons-container {
          @apply flex gap-4 relative;
        }
      }
    }
  }

  [data-component="elements.button"] {
    .icon-container {
      @apply w-10 h-10;

      img {
        @apply object-contain object-center;
      }
    }

    &[data-variant="text"] {
      /**
      * Using just "a, button { ... }"
      * will not work because of specificity CSS rules
      * lower code overrides the upper one
      */
      .button-text {
        @apply relative inline-flex w-full font-medium leading-relaxed justify-center items-center rounded-md transition duration-150 ease-in-out hover:text-primary-600;
      }
    }

    &[data-variant="locale"] {
      .button-locale {
        @apply relative inline-flex w-full font-medium leading-relaxed justify-center items-center border border-black rounded-md px-8 py-3 transition duration-150 ease-in-out hover:bg-black hover:text-white uppercase;
      }
    }

    &[data-variant="secondary"] {
      .button-secondary {
        @apply relative inline-flex w-full font-medium leading-relaxed justify-center items-center border border-black rounded-md px-8 py-3 transition duration-150 ease-in-out hover:bg-black hover:text-white;
      }
    }

    &[data-variant="primary"] {
      .button-primary {
        @apply relative inline-flex w-full justify-center items-center rounded-md border border-primary-600 bg-primary-600 px-8 py-3 font-medium text-white hover:bg-black hover:border-black transition duration-150 ease-in-out;
      }
    }
  }

  [data-collection-type="flyout"] {
    &[data-variant="simple"] {
      @apply absolute left-1/2 z-10 mt-2 w-screen max-w-xs -translate-x-1/2 transform;

      .flyout-container {
        @apply overflow-hidden rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 p-2 bg-white;
      }
    }
  }

  [data-collection-type="footer"] {
    &[data-variant="boxed"] {
      .footer-container {
        @apply w-full mx-auto max-w-7xl;
      }
    }
  }

  [data-collection-type="form"] {
    &[data-variant="simple"] {
      .form-container {
        @apply grid grid-cols-4 gap-3;

        .submit-button-container {
          @apply col-span-4;
        }
      }
    }
  }

  [data-component="elements.input"] {
    .input-label {
      @apply block mb-1;
    }

    .input-error {
      p {
        @apply text-red-500 text-xs pt-1;
      }
    }

    &[data-variant="text"] {
      &.input-text {
        .input-container {
          @apply flex gap-2 items-center rounded-md border border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm overflow-hidden px-3 py-2;

          .media-container {
            @apply hidden;

            &[data-media="true"] {
              @apply flex relative w-5 h-5;

              // img {
              //   @apply hidden;

              //   &:nth-child(1) {
              //     @apply block;
              //   }
              // }
            }
          }

          // &:hover {
          //   .media-container {
          //     &[data-media="true"] {
          //       img {
          //         @apply hidden;

          //         &:nth-child(1) {
          //           @apply hidden;
          //         }

          //         &:nth-child(2) {
          //           @apply block;
          //         }
          //       }
          //     }
          //   }
          // }

          .additional-media-container {
            @apply hidden;

            &[data-media="true"] {
              @apply flex relative w-5 h-5;
            }
          }

          input,
          textarea {
            @apply w-full border-none p-0;
          }
        }
      }
    }

    &[data-variant="listbox"] {
      &.input-listbox {
        .input-container {
          .listbox {
            @apply relative mt-1;

            .button-container {
              @apply w-full;

              .button {
                @apply relative flex items-center gap-2 border border-gray-300 shadow-sm w-full cursor-pointer rounded-lg bg-white py-2 px-3 text-left focus:outline-none focus-visible:border-primary-500 focus-visible:ring-2 focus-visible:ring-white focus-visible:ring-opacity-75 focus-visible:ring-offset-2 focus-visible:ring-offset-primary-300 sm:text-sm;

                .title-container {
                  @apply w-full flex items-center gap-2;

                  .selected-icon-container {
                    @apply hidden;

                    &[data-media="true"] {
                      @apply flex items-center gap-2;

                      .icon-container {
                        @apply relative w-5 h-5 flex items-center;

                        img {
                          @apply object-contain object-center;
                        }
                      }
                    }
                  }

                  .title {
                    @apply block truncate;
                  }
                }

                .media-container {
                  @apply hidden;

                  &[data-media="true"] {
                    @apply flex relative w-5 h-5;
                  }
                }

                .additional-media-container {
                  @apply hidden;

                  &[data-media="true"] {
                    @apply flex relative w-5 h-5;

                    img {
                      @apply hidden;
                    }
                  }
                }
              }

              &[aria-expanded="false"] {
                .button {
                  .additional-media-container {
                    &[data-media="true"] {
                      img {
                        &:nth-child(1) {
                          @apply block;
                        }

                        &:nth-child(2) {
                          @apply hidden;
                        }
                      }
                    }
                  }
                }
              }

              &[aria-expanded="true"] {
                .button {
                  .additional-media-container {
                    &[data-media="true"] {
                      img {
                        &:nth-child(1) {
                          @apply hidden;
                        }

                        &:nth-child(2) {
                          @apply block;
                        }
                      }
                    }
                  }
                }
              }
            }

            .options {
              @apply absolute mt-1 max-h-60 w-full overflow-auto rounded-md bg-white py-1 text-base ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm z-10;

              .option {
                @apply flex items-center gap-2 hover:bg-primary-50 relative cursor-pointer select-none py-2 px-3 text-gray-900;

                .title-container {
                  @apply relative flex items-center gap-2;

                  .media-container {
                    @apply hidden;

                    &[data-media="true"] {
                      @apply flex relative w-5 h-5;
                    }
                  }

                  .title {
                    @apply block truncate font-normal;
                  }
                }

                .extra-media-container {
                  @apply hidden;

                  &[data-media="true"] {
                    @apply flex relative w-5 h-5;

                    img {
                      @apply hidden;
                    }
                  }
                }

                &[aria-selected="true"] {
                  @apply bg-primary-50 text-primary-900;

                  .title-container {
                    .title {
                      @apply block truncate font-medium;
                    }
                  }

                  .extra-media-container {
                    &[data-media="true"] {
                      img {
                        @apply block;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    &[data-variant="radio-group"] {
      &.input-radio-group {
        .input-container {
          .radio-group {
            @apply flex flex-col gap-3 mt-2;

            .option {
              @apply gap-3 items-center relative flex cursor-pointer;

              .check {
                @apply w-4 h-4 flex shrink-0 rounded-full border items-center justify-center border-gray-300;
              }

              &[aria-selected="true"] {
                .check {
                  .checked {
                    @apply w-2.5 h-2.5 flex shrink-0 bg-primary-600 rounded-full;
                  }
                }
              }

              .label {
                @apply flex flex-1 text-sm font-medium text-gray-900;
              }
            }
          }
        }
      }
    }

    &[data-variant="switch"] {
      &.input-switch {
        .input-container {
          @apply relative flex gap-2 items-start;

          .label {
            @apply text-left relative;
          }

          .check {
            @apply w-5 h-5 flex shrink-0 rounded-md border items-center justify-center border-gray-300  mt-[2px] text-white cursor-pointer;

            &[aria-selected="true"] {
              @apply bg-primary-600;

              svg {
                @apply w-4;
              }
            }
          }
        }
      }
    }

    &[data-variant="file"] {
      &.input-file {
        .input-container {
          .input {
            .button {
              @apply w-full aspect-w-4 aspect-h-4;

              .button-container {
                @apply flex flex-col items-center justify-center border w-full rounded-md border-gray-300 border-dashed cursor-pointer text-gray-400;

                svg {
                  @apply flex-shrink-0 w-5 mb-1;
                }

                p {
                  @apply text-center text-xs px-2;
                }
              }
            }

            &[data-multiple="false"][data-filled="true"] {
              .button {
                @apply hidden;
              }
            }
          }

          .files-array {
            &[data-multiple="true"] {
              @apply w-full grid grid-cols-4 gap-4 mt-4;
            }

            &[data-multiple="false"] {
              @apply w-full mt-4;
            }

            .file {
              @apply relative w-full aspect-w-4 aspect-h-4 border border-gray-300 rounded-md overflow-hidden;

              img {
                @apply object-cover object-center;
              }

              .delete {
                @apply absolute top-[50%] bottom-[50%] left-[50%] right-[50%] flex w-8 h-8 items-center justify-center bg-black rounded-full text-white cursor-pointer -translate-x-2/4 -translate-y-2/4 opacity-0 transition duration-200;

                .icon {
                  @apply w-4;
                }
              }

              &:hover {
                .delete {
                  @apply opacity-100;
                }
              }
            }
          }
        }
      }
    }

    &[data-variant="range"] {
      &.input-range {
        .input-container {
          @apply relative mt-2;

          // Custom dragger
          .dragger {
            @apply absolute block py-[3px] px-2 drop-shadow-sm bg-white rounded-md w-fit transform -translate-x-3/4 mt-[13px];

            .dragger-value {
              @apply text-xs text-gray-500;
            }
          }

          .ms-fill-lower {
            @apply absolute inset-y-0 h-2 bg-primary-500 rounded-l-full;
          }

          .ms-fill-upper {
            @apply absolute inset-y-0 h-2 right-0 bg-gray-100 rounded-r-full;
          }

          .input {
            @apply relative w-full bg-transparent;

            &::-webkit-slider-runnable-track {
              -webkit-appearance: none;
              cursor: theme("cursor.pointer");
              width: theme("width.full");
              height: theme("height.2");
              border: theme("borderWidth.0");
              border-radius: theme("borderRadius.full");
            }

            &::-webkit-slider-thumb {
              @apply relative outline outline-4 outline-primary-500;

              -webkit-appearance: none;
              border: theme("borderWidth.0");
              height: theme("height.3");
              width: theme("width.3");
              border-radius: theme("borderRadius.full");
              background: theme("colors.white");
              transform: translate(0px, -12px);
              cursor: pointer;
            }

            // For Edge and IE only
            &::-ms-fill-lower {
              background-color: theme("colors.primary.500");
            }

            // For Edge and IE only
            &::-ms-fill-upper {
              background-color: theme("colors.gray.100");
            }
          }

          .limit-values-container {
            @apply flex justify-between -mt-2;

            p {
              @apply text-xs text-gray-500;
            }
          }
        }
      }
    }

    &[data-variant="repeatable"] {
      &.input-repeatable {
        .input-container {
          @apply flex flex-col gap-4;

          .repeatable-input {
            @apply flex flex-col p-4 border rounded-md gap-4;

            .button-remove-inputs {
              @apply flex text-sm items-center justify-center w-fit ml-auto rounded-md border border-red-600 py-1 px-3 font-medium text-red-600 bg-transparent shadow-sm hover:bg-red-600 hover:text-white focus:outline-none focus:ring-2 focus:ring-red-500 focus:ring-offset-2 focus:ring-offset-gray-50 text-center duration-200;

              svg {
                @apply w-4 mr-3;
              }
            }
          }

          .button-add-input {
            @apply w-fit mr-auto flex items-center justify-center rounded-md border border-gray-300 border-dashed bg-transparent py-1 px-3 text-sm font-medium text-gray-400 hover:border-solid hover:border-primary-500 hover:bg-primary-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-primary-500 focus:ring-offset-2 focus:ring-offset-gray-50 text-center duration-200;

            svg {
              @apply w-4 mr-3;
            }
          }
        }
      }
    }

    &[data-variant="date"] {
      &.input-date {
        .flatpickr-input {
          @apply w-full rounded-md border-gray-300 shadow-sm focus:border-primary-500 focus:ring-primary-500 sm:text-sm;
        }

        .flatpickr-input:has(+ .flatpickr-calendar.inline) {
          @apply hidden;
        }
      }
    }
  }

  [data-collection-type="layout"] {
    &[data-variant="wide"] {
      .layout-container {
        @apply w-full mx-auto;
      }
    }

    &[data-variant="boxed"] {
      .layout-container {
        @apply w-full mx-auto max-w-7xl;
      }
    }
  }

  [data-collection-type="modal"] {
    &[data-variant="simple"] {
      @apply relative z-50;

      .backdrop {
        @apply fixed inset-0 bg-black/30;
      }

      .modal-container {
        @apply fixed inset-0 overflow-y-scroll px-4 pt-4 pb-20 flex h-screen;

        .dialog-panel {
          @apply m-auto relative rounded bg-white;

          .button-close {
            @apply absolute z-30 right-2 top-2;

            svg {
              @apply w-6 text-gray-500;
            }
          }
        }
      }
    }
  }

  [data-collection-type="navbar"] {
    &[data-variant="boxed"] {
      @apply bg-white shadow w-screen z-30 fixed;

      .navbar-container {
        @apply w-full mx-auto max-w-7xl;
      }
    }
  }

  [data-collection-type="sidebar"] {
    &[data-variant="one-quarter"] {
      @apply w-full;
    }
  }

  [data-collection-type="slide-over"] {
    &[data-variant="right-side-half-width"] {
      @apply relative z-50;

      .backdrop {
        @apply fixed inset-0 bg-black/30;
      }

      .slide-over-container {
        @apply fixed top-0 bottom-0 right-0 h-screen w-1/2 bg-white flex justify-between overflow-scroll;

        .dialog-panel {
          @apply w-full relative;
        }
      }
    }
  }

  [data-collection-type="slider"] {
    &[data-variant="fade-with-previews"] {
      @apply flex flex-col w-full;

      .slides-container {
        @apply flex items-center;

        .animated-slide {
          @apply absolute inset-0 overflow-hidden rounded-[8px];

          .slide {
            @apply w-full h-full flex;

            .slide-container {
              @apply w-full h-full flex flex-row items-center justify-center gap-4 relative overflow-hidden;

              .background {
                @apply absolute w-full h-full inset-0 object-cover object-center;
              }

              .backdrop {
                @apply absolute w-full h-full bg-black/30 inset-0;
              }

              .content–container {
                @apply absolute inset-0 flex items-center justify-center;

                .content {
                  @apply w-9/12 relative text-white p-8;

                  h3 {
                    @apply text-[20px] font-bold text-[36px] mb-6;
                  }

                  p {
                    @apply w-1/2 text-white;
                  }

                  .buttons-container {
                    @apply flex items-center gap-3 mt-5;

                    .button {
                      @apply rounded-md border border-transparent bg-primary-600 py-3 px-8 font-medium text-white hover:bg-primary-700;
                    }
                  }
                }
              }
            }
          }
        }

        .full-screen-button {
          @apply absolute right-5 top-5 w-10 h-10 flex items-center justify-center rounded-full bg-black/30 text-white;

          svg {
            @apply w-5 h-5;
          }
        }

        .navigation {
          @apply z-10 flex items-center px-5;

          &[data-next="true"] {
            @apply ml-auto;
          }

          &[data-reachable="false"] {
            @apply hidden;
          }

          .icon-container {
            @apply cursor-pointer flex items-center justify-center w-10 h-10 bg-black/20 rounded-full;

            svg {
              @apply w-5 h-5 text-white stroke-current;
            }
          }

          &[data-next="false"] {
            .icon-container {
              svg {
                @apply rotate-180;
              }
            }
          }
        }
      }

      .previews-container {
        @apply relative flex gap-2 p-2 w-full justify-center;

        .preview-slide {
          @apply w-[8%] rounded-[8px] relative overflow-hidden pb-[8%] border-2 border-transparent cursor-pointer duration-200 hover:border-primary-600;

          img {
            @apply object-cover;
          }

          &[data-active="true"] {
            @apply border-primary-600;
          }

          &[data-active="false"] {
            @apply scale-95 hover:scale-100;
          }
        }
      }

      &.slider-fade-with-previews-full-screen-dialog {
        @apply relative z-50;

        .backdrop {
          @apply fixed inset-0 bg-black/30;
        }

        .dialog-container {
          @apply fixed inset-0 flex items-center justify-center p-4;

          .dialog-panel {
            @apply w-[90vw] max-h-[90vh] overflow-y-scroll mx-auto bg-white p-6 rounded-[8px];

            .full-screen-slider {
              .full-screen-aspect-ratio {
                @apply flex relative h-[90vh] w-full;

                .slides-container {
                  @apply w-full;

                  .background {
                    @apply object-contain;
                  }
                }
                // @apply relative flex h-[90vh] w-full;
              }
            }
          }
        }
      }
    }
  }

  [data-ui="components.card"] {
    &[data-variant="simple"] {
      .default-skeleton-card {
        @apply w-full h-[150px] skeleton;
      }

      .default-empty-card {
        @apply w-full flex items-center justify-center py-10 border-2 border-gray-200 border-dashed rounded-md;

        p {
          @apply text-gray-500;
        }
      }
    }
  }

  [data-ui="components.table"] {
    &[data-variant="simple"] {
      .table-container {
        @apply w-full rounded-md bg-white overflow-hidden;

        // To make space for dropdown button on all levels
        // width of that block will passed in tableConfig.dropdown.widthClassName
        .table-dropdown-button {
          @apply flex flex-shrink-0 items-center justify-center;
        }

        .table-header {
          @apply bg-white flex flex-row text-sm z-10 rounded-t-md w-full;

          .table-header-item {
            @apply w-full flex flex-row;

            .table-cell {
              @apply py-4 first:pl-6 last:pr-6 px-2 text-left;
            }
          }
        }

        .table-body {
          @apply bg-white w-full;

          .table-item {
            @apply w-full odd:bg-gray-100 flex flex-row items-start;

            .table-item-content {
              @apply w-full flex flex-col;

              .table-dropdown {
                @apply w-full flex-row;

                &[data-is-open="true"] {
                  @apply flex;
                }

                &[data-is-open="false"] {
                  @apply hidden;
                }

                .dropdown-row {
                  @apply w-full px-2;
                }
              }

              .table-row {
                @apply w-full py-2 flex flex-row items-center;

                .table-cell {
                  @apply first:pl-6 last:pr-6 px-2 overflow-hidden;
                }
              }
            }
          }
        }
      }
    }
  }

  [data-ui="components.notification"] {
    @apply z-50 fixed right-0 flex items-end flex-col mx-4 bottom-0 mb-4;

    &[data-position="top"] {
      @apply mb-0 top-0 mt-4;
    }

    .notification {
      @apply relative overflow-hidden drop-shadow-md;

      .notification-container {
        @apply relative flex flex-row items-start rounded-sm pr-8 py-2 bg-white;

        .notification-body {
          @apply flex flex-col items-start;

          &[data-message="true"] {
            @apply gap-2;
          }

          .notification-heading {
            @apply pl-2 text-sm;
          }

          .notification-message {
            @apply pl-2 text-xs;
          }
        }

        .button-close {
          @apply absolute right-2 top-2 text-black w-3 z-50 cursor-pointer;

          svg {
            @apply fill-current w-3;
          }
        }
      }

      &.notification-warning {
        .notification-container {
          .notification-body {
            .notification-heading {
              @apply text-orange-400;
            }
          }
        }
      }

      &.notification-error {
        .notification-container {
          .notification-body {
            .notification-heading {
              @apply text-red-500;
            }
          }
        }
      }
    }
  }

  // Place custom classes below and put them in the components
  // They will override the above styles
  //
  // .custom-class {
  //  [data-component="elements.button"] {
  //    &[data-variant="primary"] {
  //      .button-primary {
  //        @apply bg-red-500;
  //      }
  //    }
  //  }
  //
  //  That code will override the primary button color to red, but save the rest of the styles
}

.flatpickr-calendar {
  @apply w-[340px] bg-transparent opacity-0 hidden text-center invisible p-0 animate-none border-0 text-sm rounded-md absolute box-border touch-manipulation shadow-md;

  &:before,
  &:after {
    @apply absolute block pointer-events-none border-solid border-transparent content-none h-0 w-0 left-[22px];
  }
  .animate.open {
    -webkit-animation: fpFadeInDown 300ms cubic-bezier(0.23, 1, 0.32, 1);
  }
  &:before {
    @apply border-[5px] mx-0 -my-[5px];
  }
  &:after {
    @apply border-[4px] mx-0 -my-[4px];
  }
  &:focus {
    @apply outline-none;
  }
  &.open,
  &.inline {
    @apply max-h-none opacity-100 visible;
  }
  &.open {
    @apply inline-block z-[99999];
  }
  &.inline {
    @apply block relative top-0.5;
  }
  &.static {
    @apply absolute;
  }
  &.static.open {
    @apply z-[99999] block;
  }
  .flatpickr-month,
  .flatpickr-weekdays,
  .flatpickr-weekday,
  .flatpickr-monthDropdown-months {
    @apply bg-transparent;
  }
  .multiMonth
    .flatpickr-days
    .dayContainer:nth-child(n + 1)
    .flatpickr-day.inRange:nth-child(7n + 7) {
    @apply shadow-none;
    -webkit-box-shadow: none !important;
  }
  .multiMonth
    .flatpickr-days
    .dayContainer:nth-child(n + 2)
    .flatpickr-day.inRange:nth-child(7n + 1) {
    @apply shadow-[-2px_0_0_#e6e6e6,5px_0_0_#e6e6e6];
    -webkit-box-shadow: -2px 0 0 #e6e6e6, 5px 0 0 #e6e6e6;
  }
  .flatpickr-month {
    @apply max-w-[307px] mx-auto pt-4 h-12;
  }
  .hasWeeks .dayContainer {
    @apply border-l-0;
  }
  .hasTime .flatpickr-time {
    @apply h-10 border-t-[1px] border-solid border-[#eceef1];
  }
  .hasTime .flatpickr-innerContainer {
    @apply border-b-0;
  }
  .hasTime .flatpickr-time {
    @apply border-[1px] border-solid border-[#eceef1];
  }
  .noCalendar.hasTime .flatpickr-time {
    @apply h-auto;
  }
  .arrowTop:before {
    @apply border-b-[#eceef1];
  }
  .arrowTop:after {
    @apply border-b-[#eceef1];
  }
  .arrowBottom:before {
    @apply border-t-[#eceef1];
  }
  .arrowBottom:after {
    @apply border-t-[#eceef1];
  }

  .flatpickr-months {
    @apply bg-white flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
  }
  .flatpickr-wrapper {
    @apply relative inline-block;
  }
  .flatpickr-months .flatpickr-prev-month:hover svg,
  .flatpickr-months .flatpickr-next-month:hover svg {
    @apply fill-primary-500;
  }
  .flatpickr-months .flatpickr-month {
    @apply rounded-t-[5px] bg-[#eceef1] text-[#5a6171] fill-[#5a6171] h-[34px] leading-none text-center relative select-none overflow-hidden flex-1;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
  }
  .flatpickr-day {
    &.today {
      @apply border-gray-200;

      &:hover,
      &:focus {
        @apply text-black;
      }
    }
    // &.hidden {
    //   @apply opacity-0;
    // }

    &:hover,
    &:focus {
      @apply bg-gray-100 border-gray-200 text-white;
    }
    &.inRange,
    &.prevMonthDay.inRange,
    &.nextMonthDay.inRange,
    &.today.inRange,
    &.prevMonthDay.today.inRange,
    &.nextMonthDay.today.inRange,
    &:hover,
    &.prevMonthDay:hover,
    &.nextMonthDay:hover,
    &:focus,
    &.prevMonthDay:focus,
    &.nextMonthDay:focus {
      @apply cursor-pointer outline-none bg-[#e2e2e2] border-[#e2e2e2];
    }
    &.selected,
    &.startRange,
    &.endRange,
    &.selected.inRange,
    &.startRange.inRange,
    &.endRange.inRange,
    &.selected:focus,
    &.startRange:focus,
    &.endRange:focus,
    &.selected:hover,
    &.startRange:hover,
    &.endRange:hover,
    &.selected.prevMonthDay,
    &.startRange.prevMonthDay,
    &.endRange.prevMonthDay,
    &.selected.nextMonthDay,
    &.startRange.nextMonthDay,
    &.endRange.nextMonthDay {
      @apply bg-primary-500 border-primary-500 text-white;
    }
    &.selected.startRange,
    &.startRange.startRange,
    &.endRange.startRange {
      @apply rounded-l-[50px];
    }
    &.selected.endRange,
    &.startRange.endRange,
    &.endRange.endRange {
      @apply rounded-r-[50px];
    }
    &.selected.startRange + .endRange:not(:nth-child(7n + 1)),
    &.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
    &.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
      @apply shadow-[-10px_0_0_#ff5a5f];
      -webkit-box-shadow: -10px 0 0 #ff5a5f;
    }
    &.selected.startRange.endRange,
    &.startRange.startRange.endRange,
    &.endRange.startRange.endRange {
      @apply rounded-[50px];
    }
    .inRange {
      @apply rounded-none shadow-[-5px_0_0_#e2e2e2,5px_0_0_#e2e2e2];
      -webkit-box-shadow: -5px 0 0 #e2e2e2, 5px 0 0 #e2e2e2;
    }
    &.flatpickr-disabled,
    &.flatpickr-disabled:hover,
    &.prevMonthDay,
    &.nextMonthDay,
    &.notAllowed,
    &.notAllowed.prevMonthDay,
    &.notAllowed.nextMonthDay {
      @apply text-[#c8c8c8] bg-transparent border-transparent cursor-default;
    }
    &.flatpickr-disabled,
    &.flatpickr-disabled:hover {
      @apply cursor-not-allowed text-[#ededed];
    }
    .week.selected {
      @apply rounded-none shadow-[-5px_0_0_#ff5a5f,5px_0_0_#ff5a5f];
    }
  }
  .rangeMode .flatpickr-day {
    @apply mt-px;
  }
  .numInputWrapper {
    @apply relative h-auto;
    -webkit-appearance: none;

    &input {
      &span {
        @apply inline-block;
      }
    }
    input {
      @apply w-full;
    }
    input::-ms-clear {
      @apply hidden;
    }
    &:hover {
      @apply bg-[#f2f2f2] outline-none;
    }

    span {
      @apply bg-transparent outline-none absolute right-0 w-3.5 pr-1 pl-0.5 h-3/6 opacity-0 cursor-pointer leading-[50%] border-[1px] border-solid border-[rgba(72,72,72,0.15)] box-border;
      -webkit-box-sizing: border-box;

      &:hover {
        @apply bg-[#e6e6e6];

        span {
          @apply opacity-100;
        }
      }
      &:active {
        @apply bg-[#cccccc];
      }
      &:after {
        @apply block content-none absolute;
      }
      .arrowUp {
        @apply top-0 border-b-0;

        &:after {
          @apply border-l-4 border-solid border-transparent border-r-4 border-b-4 border-b-[#919191] top-[26%];
        }
      }
      .arrowDown {
        @apply top-[50%];

        &:after {
          @apply border-l-4 border-solid border-transparent border-r-4 border-t-4 border-t-[#919191] top-[40%];
        }
      }
      span svg {
        @apply w-[inherit] h-auto;
      }
      span svg path {
        @apply fill-[#adb0b8];
      }
      &:focus,
      &:active {
        @apply bg-transparent outline-none;
      }
    }
  }
  .numInputWrapper input::-webkit-outer-spin-button,
  .numInputWrapper input::-webkit-inner-spin-button {
    @apply m-0;
    -webkit-appearance: none;
  }

  .flatpickr-current-month .flatpickr-monthDropdown-months {
    @apply w-auto max-w-none min-w-0 text-center p-0 outline-none overflow-visible leading-normal;
    -webkit-appearance: none;

    &:hover {
      @apply bg-transparent outline-none;
    }

    &:active,
    &:focus {
      @apply outline-none;
      -webkit-box-shadow: none;
    }
  }

  .flatpickr-current-month input.cur-year {
    -webkit-appearance: none;

    &:active,
    &:focus {
      @apply outline-none;
      -webkit-box-shadow: none;
    }
  }
  .flatpickr-months .flatpickr-prev-month,
  .flatpickr-months .flatpickr-next-month {
    @apply no-underline cursor-pointer absolute top-0 h-[34px] p-2.5 z-[3] text-[#5a6171] fill-[#5a6171];
  }
  .flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
  .flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
    @apply left-4 top-4;
  }
  .flatpickr-months .flatpickr-prev-month.flatpickr-disabled,
  .flatpickr-months .flatpickr-next-month.flatpickr-disabled {
    @apply hidden;
  }
  .flatpickr-months .flatpickr-prev-month i,
  .flatpickr-months .flatpickr-next-month i {
    @apply relative;
  }

  .flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
  .flatpickr-months .flatpickr-next-month.flatpickr-next-month {
    @apply right-4 top-4;
  }
  .flatpickr-months .flatpickr-prev-month:hover,
  .flatpickr-months .flatpickr-next-month:hover {
    @apply text-[#bbb];
  }
  .flatpickr-months .flatpickr-prev-month:hover svg,
  .flatpickr-months .flatpickr-next-month:hover svg {
    @apply fill-[#f64747];
  }
  .flatpickr-months .flatpickr-prev-month svg,
  .flatpickr-months .flatpickr-next-month svg {
    @apply w-3.5 h-3.5;
  }
  .flatpickr-months .flatpickr-prev-month svg path,
  .flatpickr-months .flatpickr-next-month svg path {
    @apply fill-inherit;
    -webkit-transition: fill 0.1s;
  }
  .flatpickr-current-month {
    @apply text-[135%] font-light text-inherit absolute w-[75%] left-[12.5%] pt-[7.48px] leading-none h-[34px] inline-block text-center;
    -webkit-transform: translate3d(0px, 0px, 0px);

    span.cur-month {
      @apply font-[inherit] font-bold text-[inherit] inline-block ml-[0.5ch] p-0;

      &:hover {
        @apply bg-[#f2f2f2];
      }
    }
    .numInputWrapper {
      @apply w-[7em] inline-block;

      span.arrowUp:after {
        @apply border-b-[#5a6171];
      }
      span.arrowDown:after {
        @apply border-t-[#5a6171];
      }
    }
    input.cur-year {
      @apply bg-transparent box-border cursor-text pl-[0.5ch] m-0 inline-block font-[inherit] text-inherit font-light leading-[inherit] h-auto border-0 rounded-none align-[inital];
      -webkit-appearance: textfield;
      -moz-appearance: textfield;

      &:focus {
        @apply outline-none;
      }
    }
    .flatpickr-monthDropdown-months {
      @apply bg-[#eceef1] border-none rounded-none box-border cursor-pointer font-[inherit] text-inherit font-light h-auto leading-[inherit] -mt-[1px] outline-none pl-[0.5ch] relative align-[inital] w-auto;
      -webkit-box-sizing: border-box;
      -webkit-appearance: menulist;
      -moz-appearance: menulist;
    }
    .flatpickr-monthDropdown-months:hover {
      @apply bg-[#f2f2f2];
    }
    .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month {
      @apply bg-[#eceef1] outline-none p-0;
    }
  }
  .flatpickr-current-month input.cur-year[disabled],
  .flatpickr-current-month input.cur-year[disabled]:hover {
    @apply text-[100%] text-[#adb0b8] bg-transparent pointer-events-none;
  }
  .flatpickr-current-month .flatpickr-monthDropdown-months:focus,
  .flatpickr-current-month .flatpickr-monthDropdown-months:active {
    @apply outline-none;
  }
  .flatpickr-weekdays {
    @apply pt-10 pb-4 bg-[#eceef1] text-center overflow-hidden w-full flex items-center h-7;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;

    .flatpickr-weekdaycontainer {
      @apply flex flex-1;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
    }
  }

  .flatpickr-innerContainer {
    @apply w-full border-none mx-auto;

    .flatpickr-rContainer {
      @apply mx-auto pb-4;
    }
  }
  .dayContainer {
    @apply p-0 outline-none text-left min-w-[307.875px] box-border flex flex-wrap justify-around opacity-100;
    -webkit-box-sizing: border-box;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-around;
    -webkit-transform: translate3d(0px, 0px, 0px);
  }
  .flatpickr-day {
    @apply bg-none border-[1px] border-solid border-transparent rounded-[150px] box-border text-[#484848] cursor-pointer font-normal w-[14.2857143%] basis-[14.2857143%] max-w-[39px] h-[39px] leading-[39px] m-0 inline-block relative justify-center text-center;
    -webkit-box-sizing: border-box;
    -webkit-flex-basis: 14.2857143%;
    -ms-flex-preferred-size: 14.2857143%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
  }
  .flatpickr-weekwrapper {
    @apply float-left;

    .flatpickr-weeks {
      @apply px-0 py-3;
    }
    .flatpickr-weekday {
      @apply float-none w-full leading-7;
    }
    &span.flatpickr-day {
      &span.flatpickr-day:hover {
        @apply block w-full max-w-none text-[#c8c8c8] bg-transparent cursor-default border-none;
      }
    }
  }
  .flatpickr-innerContainer {
    @apply flex box-border  bg-white border-b-[1px] border-solid border-[#eceef1];
    -webkit-box-sizing: border-box;
  }
  .flatpickr-rContainer {
    @apply inline-block p-0 box-border;
    -webkit-box-sizing: border-box;
  }
  span.flatpickr-weekday {
    @apply cursor-default text-[90%] bg-[#eceef1] text-[#5a6171] leading-none m-0 text-center block flex-1 font-[bolder];
  }
  .flatpickr-time {
    @apply text-center outline-none h-0 leading-10 max-h-10 box-border invisible flex bg-white rounded-b-[5px];
    -webkit-box-sizing: border-box;

    &:after {
      @apply content-none table clear-both;
    }
    .numInputWrapper {
      @apply flex-1 w-[40%] h-10 float-left;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      span.arrowUp:after {
        @apply border-b-[#484848];
      }
      span.arrowDown:after {
        @apply border-t-[#484848];
      }
    }
    &.hasSeconds .numInputWrapper {
      @apply w-[26%];
    }
    &.time24hr .numInputWrapper {
      @apply w-[49%];
    }
    input {
      @apply bg-transparent shadow-none border-0 rounded-none text-center m-0 p-0 h-[inherit] leading-[inherit] text-[#484848] text-sm relative box-border;
      -webkit-box-shadow: none;
      -webkit-box-sizing: border-box;
      -webkit-appearance: textfield;
      -moz-appearance: textfield;
      &.flatpickr-hour {
        @apply font-bold;
      }
      &.flatpickr-minute {
        &.flatpickr-second {
          @apply font-normal;
        }
      }
      &:focus {
        @apply outline-none border-0;
      }
    }
    .flatpickr-am-pm {
      @apply outline-none w-[18%] cursor-pointer text-center font-normal;
    }
  }
  .flatpickr-time .flatpickr-time-separator,
  .flatpickr-time .flatpickr-am-pm {
    @apply h-[inherit] float-left leading-[inherit] text-[#484848] font-bold w-[2%] select-none self-center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
  }
  .flatpickr-time input:hover,
  .flatpickr-time .flatpickr-am-pm:hover,
  .flatpickr-time input:focus,
  .flatpickr-time .flatpickr-am-pm:focus {
    @apply bg-[#eaeaea];
  }
  .flatpickr-input[readonly] {
    @apply cursor-pointer;
  }
  .dayContainer,
  .flatpickr-weeks {
    @apply pt-[1px];
  }

  .flatpickr-calendar {
    @apply rounded-md overflow-hidden border border-gray-300;
  }

  .flatpickr-days {
    @apply rounded-b-md border-none relative overflow-hidden flex items-start w-[307.875px] border-l-[1px] border-r-[1px]  border-[#eceef1];
    &:focus {
      @apply outline-none;
    }
  }
}
