import { factory } from "@sps/shared-frontend-server-api";
import {
  host,
  route,
  IModelExtended,
  query,
  options,
} from "<%= api_model_import_path %>";

export const api = factory<IModelExtended>({
  route,
  host,
  options,
  params: query,
});
