import { IRelation } from "<%= root_contracts_import_path %>";
import { IRelation as IRelationExtended } from "<%= extended_contracts_import_path %>";
import { ISpsComponentBase } from "@sps/ui-adapter";

export const variant = "<%= variant %>" as const;

export interface IComponentProps extends ISpsComponentBase {
  variant: typeof variant;
  className?: string;
}

export interface IComponentPropsExtended extends IComponentProps {
  data: IRelationExtended[];
}
