{% if SERVICE_URL is defined and SERVICE_URL | length > 0  %}
NEXT_PUBLIC_HOST_URL=https://{{ SERVICE_URL }}
{% endif %}

{% if BACKEND_URL is defined and BACKEND_URL | length > 0 %}
NEXT_PUBLIC_BACKEND_URL=https://{{ BACKEND_URL }}
{% endif %}

{% if DATABASE_HOST is defined and DATABASE_HOST | length > 0 %}
{% else %}
DATABASE_PORT=5432
DATABASE_HOST=postgres
DATABASE_NO_SSL=true
DATABASE_NAME={{ DATABASE_NAME }}
DATABASE_USERNAME={{ DATABASE_USERNAME }}
DATABASE_PASSWORD={{ DATABASE_PASSWORD }}
{% endif %}

RBAC_JWT_SECRET={{ RBAC_JWT_SECRET }}
RBAC_SECRET_KEY={{ RBAC_SECRET_KEY }}
RBAC_COOKIE_SESSION_SECRET={{ RBAC_COOKIE_SESSION_SECRET }}

{% if AWS_ACCESS_KEY_ID is defined and AWS_ACCESS_KEY_ID | length > 0 %}
AWS_ACCESS_KEY_ID={{ AWS_ACCESS_KEY_ID }}
AWS_SECRET_ACCESS_KEY={{ AWS_SECRET_ACCESS_KEY }}
AWS_REGION={{ AWS_REGION }}
{% endif %}

{% if AWS_S3_BUCKET is defined and AWS_S3_BUCKET | length > 0  %}
AWS_S3_BUCKET={{ AWS_S3_BUCKET }}
{% endif %}

{% if BLOB_READ_WRITE_TOKEN is defined and BLOB_READ_WRITE_TOKEN | length > 0 %}
BLOB_READ_WRITE_TOKEN={{ BLOB_READ_WRITE_TOKEN }}
{% endif %}

{% if STRIPE_SECRET_KEY is defined and STRIPE_SECRET_KEY | length > 0 %}
STRIPE_SECRET_KEY={{ STRIPE_SECRET_KEY }}
{% if SERVICE_URL is defined and SERVICE_URL | length > 0  %}
STRIPE_RETURN_URL=https://{{ SERVICE_URL }}
{% endif %}
{% endif %}

{% if O_X_PROCESSING_SHOP_ID is defined and O_X_PROCESSING_SHOP_ID | length > 0 %}
O_X_PROCESSING_SHOP_ID={{ O_X_PROCESSING_SHOP_ID }}
O_X_PROCESSING_WEBHOOK_PASSWORD={{ O_X_PROCESSING_WEBHOOK_PASSWORD }}
{% if SERVICE_URL is defined and SERVICE_URL | length > 0  %}
O_X_PROCESSING_RETURN_URL=https://{{ SERVICE_URL }}
{% endif %}
{% endif %}

{% if O_X_PROCESSING_TEST_PAYMENTS is defined and O_X_PROCESSING_TEST_PAYMENTS | length > 0 %}
O_X_PROCESSING_TEST_PAYMENTS={{ O_X_PROCESSING_TEST_PAYMENTS }}
{% endif %}

{% if REDIS_PASSWORD is defined and REDIS_PASSWORD | length > 0 %}
KV_PROVIDER=redis
KV_PASSWORD={{ REDIS_PASSWORD }}
KV_HOST=redis
KV_PORT={{ REDIS_PORT | default('6379') }}
{% endif %}

{% if PAYSELECTION_SECRET_KEY is defined and PAYSELECTION_SECRET_KEY | length > 0 %}
PAYSELECTION_SECRET_KEY={{ PAYSELECTION_SECRET_KEY }}
NEXT_PUBLIC_PAYSELECTION_SITE_ID={{ PAYSELECTION_SITE_ID }}
NEXT_PUBLIC_PAYSELECTION_SITE_NAME={{ PAYSELECTION_SITE_NAME }}
NEXT_PUBLIC_PAYSELECTION_PUBLIC_KEY={{ PAYSELECTION_PUBLIC_KEY }}
PAYSELECTION_WEBHOOK_URL={{ PAYSELECTION_WEBHOOK_URL }}
{% endif %}

{% if GOOGLE_TAG_MANAGER_ID is defined and GOOGLE_TAG_MANAGER_ID | length > 0 %}
NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID={{ GOOGLE_TAG_MANAGER_ID }}
{% endif %}

{% if GOOGLE_ANALYTICS_ID is defined and GOOGLE_ANALYTICS_ID | length > 0 %}
NEXT_PUBLIC_GOOGLE_ANALYTICS_ID={{ GOOGLE_ANALYTICS_ID }}
{% endif %}