export const config = {
  <%= left_model_name_snake_cased %>Id: "<%= module_lib_name %>.<%= left_model_name_kebab_cased %>.id",
<% if(right_model_is_external) { %>
<% } else { %>  
  <%= right_model_name_snake_cased %>Id: "<%= module_lib_name %>.<%= right_model_name_kebab_cased %>.id",
<% } %>
};
