import { factory } from "@sps/shared-frontend-server-api";
import {
  host,
  route,
  IRelationExtended,
  options,
} from "<%= api_model_import_path %>";

export const api = factory<IRelationExtended>({
  route,
  host,
  options,
});
