name: Update backend

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      TAG:
        required: true
        type: string
      PRERELEASE:
        required: true
        type: boolean

env:
  IMAGE_URL: ${{ secrets.DOCKER_HUB_URL }}/${{ secrets.DOCKER_HUB_USERNAME }}/${{ secrets.PROJECT_NAME }}

jobs:
  create-image:
    name: Create project docker image
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./
    steps:
      - name: Check out repository code
        uses: actions/checkout@v4
      - name: Login to registry
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_HUB_URL }}
          username: ${{ secrets.DOCKER_HUB_LOGIN_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_PASSWORD }}
          logout: false
      - if: ${{ inputs.PRERELEASE == true }}
        name: Build image
        uses: docker/build-push-action@v5
        with:
          context: ./
          push: false
          load: true
          tags: |
            ${{ env.IMAGE_URL }}:${{ inputs.TAG }}
          build-args: |
            NEXT_PUBLIC_BACKEND_URL=${{ secrets.STAGING_NEXT_PUBLIC_BACKEND_URL }}
            NEXT_PUBLIC_BACKEND_TOKEN=${{ secrets.STAGING_NEXT_PUBLIC_BACKEND_TOKEN }}
            NEXT_PUBLIC_FRONTEND_URL=${{ secrets.STAGING_NEXT_PUBLIC_FRONTEND_URL }}
            NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=${{ secrets.STAGING_NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID }}
            NEXT_PUBLIC_SENTRY_DSN=${{ secrets.STAGING_NEXT_PUBLIC_SENTRY_DSN }}
            TELEGRAM_BOT_USERNAME=${{ secrets.TELEGRAM_BOT_USERNAME }}
      - if: ${{ inputs.PRERELEASE == false }}
        name: Build image
        uses: docker/build-push-action@v5
        with:
          context: ./
          push: false
          load: true
          tags: |
            ${{ env.IMAGE_URL }}:${{ inputs.TAG }}
            ${{ env.IMAGE_URL }}:latest
          build-args: |
            NEXT_PUBLIC_BACKEND_URL=${{ secrets.NEXT_PUBLIC_BACKEND_URL }}
            NEXT_PUBLIC_BACKEND_TOKEN=${{ secrets.NEXT_PUBLIC_BACKEND_TOKEN }}
            NEXT_PUBLIC_FRONTEND_URL=${{ secrets.NEXT_PUBLIC_FRONTEND_URL }}
            NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID=${{ secrets.NEXT_PUBLIC_GOOGLE_TAG_MANAGER_ID }}
            NEXT_PUBLIC_SENTRY_DSN=${{ secrets.NEXT_PUBLIC_SENTRY_DSN }}
            TELEGRAM_BOT_USERNAME=${{ secrets.TELEGRAM_BOT_USERNAME }}
      - name: Inspect release tag image
        run: docker image inspect ${{ env.IMAGE_URL }}:${{ inputs.TAG }}
      - if: ${{ inputs.PRERELEASE == false }}
        name: Inspect latest tag image
        run: docker image inspect ${{ env.IMAGE_URL }}:latest
      - name: Push release tag to registry
        run: docker push ${{ env.IMAGE_URL }}:${{ inputs.TAG }}
      - if: ${{ inputs.PRERELEASE == false }}
        name: Push latest tag to registry
        run: docker push ${{ env.IMAGE_URL }}:latest
